@font-face {
font-family:Raleway-ExtraBold;
src:url(‘../font/Raleway-ExtraBold.ttf’);
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:Raleway-Medium;
src:url(‘../font/Raleway-Medium.ttf’);
font-weight:normal;
font-style:normal;
}
li.nav-item {padding: 0 20px;}

.container-fluid.menu {
    background: #ebf4fd;
    height: 100px;
}
.img img {
    margin: 25px 0px;
}
.menu_ngang {
    margin: 20px 0px;
}

.menu_ngang a.nav-link {
    padding: 10px 0px;
}
.nav-item a.nav-link {
    color: #606060;
     font-family:Raleway-ExtraBold;
 }
    

li.nav-item:hover {
    background: #2694ff;
    border-radius: 10px;
}

li.nav-item:hover .nav-link {
    color: white;
}
.container.path {
    height: 100px;
}

.path .duongdan {
    margin: 35px 15px;
}
span.color {
    color: lightseagreen;
}
.container-fluid.client {
    margin-top: 125px;
    background: #2692ff;height: 130px;}
    .client .col-sm-5.left {
    margin-top: 50px;
}

.client .col-sm-4.right {
    margin-top: 50px;
}

.client .col-sm-2 {
    margin-left: -50px;
}

span.a {
    color: white;
}

.client h3 {
    margin-top: 50px;
    font-family:Raleway-ExtraBold;
}
.client p.mau {
    color: white;
}
.nhadautu .col-sm-3 {
    float: left;
}

.nhadautu {
    width: 100%;
    margin-top: 137px;
}
.container-fluid.manufacture {
    height: 370px;
    background: #ebf4fd;
}
img.first_img {
    margin-top: 20px;
}
.text-lg h2.tieude {margin-left: 15px;margin-top: -5px;}
.col-sm-3.right {
    margin-left: -155px;
}
.col-sm-3.left {
    transform: translateX(-15px);
}
.second p {
    margin-left: 37%;
}
.page {
    padding: 45px;
}
.container-fluid.footer {
    width: 100%;
    height: 120px;
    background: #ebf4fd;
}
.text_footer {
    width: 200px;
    margin: 50px auto;
}

.text_footer {
    width: 200px;
    margin: 40px auto;
}
.content .col-sm-6 {
    padding: 0px;
}
.content .img img {
    margin: 0px;
    height: 388px;
    width: 570px;
}
.right .text-center {
    text-align: center!important;
    margin: auto;
}
.content-main  h2.tieude {
    color: #409cff;
}
.container-fluid.trong {
    width: 100%;
    height: 75px;
    background: #ebf4fd;
}
.row.content1 {
    height: 120px;
}
.content1 .col-sm-5.left {
    margin-top: 80px;
}

.content1 .col-sm-2 {
    margin-top: 80px;
}

.col-sm-5.right {
    margin-top: 80px;
}
.content2 .text-main {
    padding-top: 55px;
}
.content2.text-center {
    height: 270px;
}
.row.content3 {
    height: 380px;
}
.container-fluid.fail {
    height: 125px;
    background: #ebf4fd;
}

.text-main p {
    color: gray;
    margin: 0px;
}

.text-main h3 {
    margin: 0px;
}

h2.text-lg {
    color: #2694ff;
    font-size: 50px;
}
.text-small p {
    color: gray;
}

.text-small {
    margin-top: 50px;
}
.container-fluid.client {
    margin-top: 125px;
    background: #2692ff;height: 130px;}
    .client .col-sm-5.left {
    margin-top: 50px;
}

.client .col-sm-4.right {
    margin-top: 50px;
}

.client .col-sm-2 {
    margin-left: -50px;
}

span.a {
    color: white;
}

.client h3 {
    margin-top: 50px;
}
.client p.mau {
    color: white;
}
.nhadautu .col-sm-3 {
    float: left;
}

.nhadautu {
    width: 100%;
    margin-top: 137px;
}
.container-fluid.manufacture {
    height: 370px;
    background: #ebf4fd;
}
img.first_img {
    margin-top: 20px;
}
.text-lg h2.tieude {margin-left: 15px;margin-top: -5px;}
.col-sm-3.right {
    margin-left: -155px;
}
.col-sm-3.left {
    transform: translateX(-15px);
}
.second p {
    margin-left: 37%;
}
.page {
    padding: 45px;
}
.page p{
    font-family:Raleway-Medium;
}
.page h4{
    font-family:Raleway-ExtraBold;
}
.container-fluid.footer {
    width: 100%;
    height: 120px;
    background: #ebf4fd;
}
.text_footer {
    width: 200px;
    margin: 50px auto;
}

.text_footer {
    width: 200px;
    margin: 40px auto;
}