*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
font-family:Raleway-ExtraBold;
src:url(‘../font/Raleway-ExtraBold.ttf’);
font-weight:normal;
font-style:normal;
}
@font-face {
font-family:Raleway-Medium;
src:url(‘../font/Raleway-Medium.ttf’);
font-weight:normal;
font-style:normal;
}
.container-fluid.header {
    width: 100%;
    height: 100px;
    background: #ebf4fd;
}
.logo-header {
    margin: 25px 0px;
    width: 100%;
}

.bg-light {
    background-color: lightblue !important;
}
.menu-ngang li {
    float: left;
    list-style: none;
    padding: 0px 10px;
    margin: 22px 0px;
}
.menu-ngang a.nav-link {
    color: #606060;
    font-family:Raleway-ExtraBold;
}

.menu-ngang a.nav-item {
}

ul.menu-ngang {
    margin-bottom: 0px;
}

.menu-ngang li:hover {
    background: #2694ff;
    border-radius: 7px;
}


.menu-ngang li:hover .nav-link {
    color: white !important; 
}
.container-fluid.carousel {
    height: 765px;
}
.firts
{
    position: relative;
}
.row-firts
{
    position: absolute;
    top: 190px;
    left: 50px;
    width: 600px;
    margin-left: 115px;
}
.row-firts h5 {
    font-size: 18px;
    font-family: Raleway-Medium;
}
.row-firts h1 {
    font-size: 64px;
     font-family:Raleway-ExtraBold;
}
button.btn.btn-dark.btn-lg.btn-block.text-center {
    color: #2694ff;
    font-weight: bold;
}
.row-firts .text-small ul li p {
    color: #000000;
    font-size: 18px;
    font-family:Raleway-ExtraBold;
}
.row-firts .text-small ul li {
    list-style: none;
}

.second
{
    position: relative;
}
.row-second
{
    position: absolute;
    top: 190px;
    left: 50px;
    width: 600px;
    margin-left: 115px;
}
.row-second h5 {
    font-size: 18px;
    font-family: Raleway-Medium;
}
.row-second h1 {
    font-size: 64px;
     font-family:Raleway-ExtraBold;
}
button.btn.btn-dark.btn-lg.btn-block.text-center {
    color: #2694ff;
    font-weight: bold;
}
.row-second .text-small ul li p {
    color: #000000;
    font-size: 18px;
    font-family:Raleway-ExtraBold;
}
.row-second .text-small ul li {
    list-style: none;
}
.row1 img {
    width: 100%;
}
.row.row1 {
    padding: 0px;
    margin-top: 74px;
}

.text-center h3 {
    font-size: 26px;
    font-family:Raleway-ExtraBold;
}

span.color {
    color: #2694ff;
}
.product p.text-small {
    color: #9d9d9d;
}
.product ul.list-left {
    margin-left: 100px;
}
ul.list-left li {
    list-style-image: url('../img/images/hinhthoi.png');
}
ul.list-right li {
    list-style-image: url('../img/images/hinhthoi.png');
}
.container.product {
    height: 753px;
}

.product .row.row3 {
    margin-top: 30px;
}
.product .row3 h2 {
    margin: 55px 0px;
    font-family: Raleway-ExtraBold;
    color: #2694ff;
    font-size: 26px;
}
.product ul li p {
    color: #8a8a8a;
    font-family: Raleway-Medium;
    font-size: 16px;
}
.container-fluid.banner2 {
    padding: 0px;
    overflow: hidden;
}
.card img.card-img-top {
    height: 270px;
}
.card {
    position: relative;
}

a.btnSub {
    position: absolute;
    width: 55%;
    top: 250px;
    left: 52px;
}
.card-body p.card-text {
    margin-top: 20px;
}
a.btn.btn-info.btnSub:hover {
    background: #383838;
    border: 1px solid #383838;
}
.service h3 {
    font-family: Raleway-ExtraBold;
    font-size: 26px;
}
.text-small
{
    color: #8a8a8a;
    font-family: Raleway-Medium;
    font-size: 16px;
}
.service p.card-text {
    color: #8a8a8a;
    font-family: Raleway-Medium;
    font-size: 12px;
}
.service .row.row1 {
    margin-top: 112px;
}

.card {
    margin-top: 50px;
}
.container.service {
    height: 752px;
}
.container-fluid.client {
    height: 131px;
    background: #2692ff;
}
.color1
{
    color: white;
    font-family: Raleway-ExtraBold;
}
.client p.text {
    color: white;
    font-family: Raleway-Medium;
}
.col-sm-4.left {
    margin-top: 57px;
}

.col-sm-4.right {
    margin-top: 57px;
}
.client .col-sm-4.left
{
     margin-top: 57px;
    padding-left: 150px;
}
.client .col-sm-4.right
{
     margin-top: 57px;
    padding-left: 0px;
}

.col-sm-4.text-center {
    margin-top: 57px;
}
img.first_img {
    margin-top: 20px;
}
.nhadautu .col-sm-3 {
    float: left;
}

.nhadautu {
    width: 100%;
    margin-top: 137px;
}
.container-fluid.manufacture {
    height: 370px;
    background: #ebf4fd;
    padding-top: 105px;
}
.page {
    padding: 45px;
}
.page p{
    font-family:Raleway-Medium;
    font-size: 12px;
}
.page h4{
    font-family:Raleway-ExtraBold;
    font-size: 18px;
    font-weight: bold;
}
.container-fluid.footer {
    width: 100%;
    height: 120px;
    background: #ebf4fd;
}
.text_footer {
    width: 200px;
    margin: 50px auto;
}
.text_footer p{
    font-family:Raleway-Medium;
    font-size: 18px;
    color: #888888;
}
.text_footer {
    width: 200px;
    margin: 40px auto;
}

/*----------------------------Reponsive-------------------------------*/





@media only screen and (min-width: 320px) and (max-width: 767px)
{
   .container-fluid.header
   {
    text-align: center;
    width: 100%;
    background: lightblue;
    height: auto;
   }
   .logo-header{
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
   }
   .menu-ngang ul li {
    float: left;
    list-style: none;
    padding: 10px 9px;
    }
    .col-sm-3.error {
    display: none;
}
.header .col-sm-6 ul li {
    padding: 10px 10px;
}
.menu-ngang li
{
    width: 100%;
}
.container-fluid.carousel {
    height: 700px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 700px;
}
.row-firts,.row-second
{
    position: absolute;
    top: 150px;
    left: 0px;
    width: auto;
    margin-left: 0;
}
.row1 .col-sm-4.left {
    width: 25%;
    margin: 0;
    overflow: hidden;
}

.col-sm-4.text-center {
    margin-top: 0;
    width: 50%;
}

.col-sm-4.right {
    margin: 0px;
    width: 25%;
    overflow: hidden;
}
ul.list-right {
    margin-left: 100px;
}
.container.product {
    height: auto;
}

.container.service {
    height: auto;
}
.banner2 img {
    height: 180px;
}

.service .row.row1 {
    margin-top: 70px;
}

a.btn.btn-info.btnSub {
    width: 70%;
    margin: auto;  
}
.client .col-sm-4.left {
    padding: 0px;
    width: 25%;
    margin-top: 15px;
}

.client .col-sm-4.right {
    margin-top: 15px;
}
.client .col-sm-4.text-center
{
    margin-top: 15px;
}

.container-fluid.client {
    height: auto;
}

.client .row.row1 {margin-top: 0px;}

.container-fluid.manufacture {
    height: auto;
    padding: 50px 0px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px)
{

    .container-fluid.header {
    width: 100%;
    height: auto;
    background: #ebf4fd;
}
    .logo-header
    {
    border-bottom: 1px solid red;
    }
    .menu-ngang li
{
    width: 100%;
}
    .product ul.list-left {
    margin-left: 20px;
    }
    a.btn.btn-info.btnSub {margin-left: 15%;}

    .carousel .text-center h1 {
    font-size: 33px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 600px;
}

.container-fluid.carousel {
    height: 600px;
}
.client .col-sm-4.col-md-4.col-lg-4.right {
    width: 100%;
}

.client .col-sm-4.col-md-4.col-lg-4.left {
    width: 100%;
}

.service .row1 img {
    width: 100%;
}
.page h4 {
    font-size: 12px;
}
p.card-text {
    text-align: center;
}
.container.service {
    height: auto;
}

}
@media only screen and (min-width: 992px) and (max-width: 1200px)
{
    .row-second,.row-firts {
    position: absolute;
    top: 240px;
    left: 0px;
    width: 765px;
    }
    .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 765px;
}

}