*{
	padding: 0;
	margin:0;
}
header {
    height: 100px;
    background: #ebf4fd;
}

.logo {
    margin: 25px 0px;
}



.menu nav.navbar.navbar-expand-lg {
    margin: 22px 0px;
}

.navbar-nav li.nav-item {
    padding: 0 20px;
}

.navbar-nav li a.nav-link {
    color: black;
}

li.nav-item:hover {
    background: #2694ff;
    border-radius: 7px;
}

li.nav-item:hover a.nav-link {
    color: white;
}
.carou-1
{
	position: relative;
}
.text.text-center
{
	position: absolute;
	top: 30%;
	left: 230px;
}



@media only screen and (max-width: 768px)
{
	header{
		width: 100%;
		height: 200px;
	}
	.logo
	{
		text-align: center;
	}
	.menu{height: 100%}
	.navbar-nav li.nav-item {
    padding: 0 2px;
	}
	.menu nav.navbar.navbar-expand-lg {
	    margin: 0px 0px;
	}
	.col-xs-12.col-sm-12.col-md-6.col-lg-7 {
    height: 100px;
}

nav.navbar.navbar-expand-lg {
    height: 100%;
}

div#navbarText {
    height: 100%;
    width: 100%;
}

ul.navbar-nav {
    width: 100%;
    height: 100%;
}
.text.text-center {
    height: 330px;
    top: 60%;
	left: 0px;
}


}