@font-face{
	src: url(font/MyriadPro-Regular.otf);
	font-family: MyriadPro;
}
body{
	font-family: MyriadPro;
}
.container{
	width: 90%;
}

.menu{
	height: 100px;
	background-color: #ebf4fd;
}

.menu a{
	color: #696a6a;
	font-weight: bold;
}

.menu .navbar{
	margin-bottom: 0px;
}

.menu li{
	margin: 15px 0px; 
}

.navbar-nav li a:hover{
	background-color: #2694ff;
	border-radius: 5px;
	color: white;
}

.navbar-nav li a:focus{
	background-color: #2694ff;
	border-radius: 5px;
}

.banner{
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.bn1{
	background-image: url('../image/background.png');
	height: 753px;
}

.bn2{
	background-image: url('../image/business-blog-1.jpg');
	margin-top: 50px;
	min-height: 350px;
	height: 480px;
}
.btnSub{
	position: absolute;
    width: 80%;
    top: px;
    left: 10px;
    background-color: #2692ff;
}
.icon-bar{
	background: #000;
}
.container-fluid.bot{
	background-color: #ebf4fd;
	height: 118px;
}
.cp{
	margin-top: 50px;
}
.iconleft{
position: absolute;top: 3040px;left: 20px;
}
.iconright{
position: absolute;top: 3040px;right: 20px;
}