* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
@font-face {
font-family:Bold;
src:url("../font/OpenSans-Bold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Regular;
src:url("../font/OpenSans-Regular.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Extra;
src:url("../font/OpenSans-ExtraBold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
/*========================================>CSS header<===========================*/
.navbar{
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important
}
 .navbar-default{
  background: #3a454d !important ;
  min-height: 81px !important;
  line-height: 81px !important;
 }
 .navbar-default .navbar-toggle .icon-bar{
  background-color:white !important;
  }
  .navbar-toggle {
    background:#0092a2 !important ;
    margin-top: 20px !important;
  }
  .menu a{
    padding:0 !important;
    margin:0 !important;
    color:white !important;
    font-family: Regular !important;
  }

  .menu li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    width: 100px
  }
  .menu a:hover{
    color: #0092a2 !important;
  }
  .menu li:active{
    background: #0092a2;
    border-radius: 5px;
    color: white !important;
  }
  .menu li:active a{
    color: white !important;
    font-family:Bold !important;
  }

.header-bottom{
  height: 50px;
  line-height: 50px;
}
.header-bottom a{
  font-family: Regular;
  font-size: 16px;
  text-decoration: none;
}
.header-bottom .text1{
  color: black;
}
.header-bottom .text2{
  color: #0092a2;
}
.banner {
  width: 100%;
  height: 746px;
  margin-bottom: 79px;
 }
 .banner img{
  max-width: 100%;
  height: 100%;
 }
/*========================================>CSS main<===========================*/
/*=============================>CSS product<===========================*/
.product{
  margin-top:69px;
}
.header-pt{
  text-align: center;
  margin-bottom:49px;
}
.header-pt p{
  font-family: Extra;
  font-size: 26px;
  color: #0092a2;
  padding-bottom: 8px;
  border-bottom: 3px solid #0092a2;
}
.header-pt img{
  max-width: 100%;

}
.content .text{
  font-family: Regular;
  font-size: 16px;
  margin-bottom: 31px;
}
.fieldset{
  border-radius: 10px;
  border:2px solid #0092a2;
  text-align: center;
 height: 319px;
 padding: 0 21px 0 31px;
 max-width: 100%;
  min-height: 100%;
}
.legend{
    text-align: center;
    border-bottom: 0px;
}
.fieldset .text1{
  margin-bottom: 47px;
  margin-top: 43px;
  font-family: Bold;
  font-size: 24px;
}
.fieldset .text2{
  font-family: Regular;
  font-size: 16px;
}
.content-2 .col-lg-4{
}

  /*========================================>CSS Doitac<===========================*/
.hot{
  height: 474px;
   margin-top: 85px;
  padding-top: 64px;
  background: #7eb9e3;
}
.hot p{
    padding-bottom: 40px;
     margin-left:15px;
   }
  .hot p span{
    padding-left: 17px;
    border-left:10px solid white;
    color: white;
    font-family: Bold;
    font-size: 36px; }
  .hot .col-lg-3{
    margin-bottom: 30px;
  }
  .hot img{
    max-width: 100%;
    max-height: 100%;
  }

  /*========================================>CSS LienLac<===========================*/
  .map{
    max-height: 834px;
    margin-top: 64px;
  padding-top: 44px;
  }
  .map .text{
    padding-bottom: 40px;
   }
  .map .text span{
    padding-left: 17px;
    border-left:10px solid black;
    color: black;
    font-family: Bold;
    font-size: 36px;
  }
  .map .text1 span{
    font-family: Regular;
    font-size: 14px;
    color: black;
  }
    .map img{
      max-width: 100%;
      max-height: 100%;
    }

.ad{
  height: 269px;
}
.ad .icons{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
  /*========================================>footer<===========================*/    
    .footer{
     background: #3a454d;
     height: 95px;
     line-height: 95px;
    }
    .footer p{
       font-size: 14px;
       color: white;
    }

  /*========================================>responsive<===========================*/ 
 @media only screen and (min-width: 320px) and (max-width: 767px)
  {
    .menu li{
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .menu li:active{
    display: block;
    border-radius: 0px;
  }
      .header-bottom a{
    font-size: 10px;
    }
    .banner{
      height: 300px;
    }
    .banner img{
      height: 300px;
    }
    .header-pt p{
    font-size: 10px;
    padding-bottom: 4px;
    }
    .header-pt span{
      font-size: 14px;
    }
    .product{
    margin-top:30px;
    }
    .content .text{
  font-size: 12px;
  margin-bottom: 15px;
}
.fieldset{
  border-radius: 10px;
  border:1px solid #0092a2;
 padding: 0 10px 0 15px;
  height: auto;
}
.legend{
    text-align: center;
}
.legend img{
  width: 50px;
  height: 50px;
}
.fieldset .text1{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
}
.fieldset .text2{
  font-size: 12px;
  }
  .hot{
  height: 250px;
   margin-top: 40px;
  padding-top: 30px;
  }
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 20px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .map{
    height: auto;
    margin-top: 30px;
  padding-top: 20px;
  }
  .map .text{
    padding-bottom: 20px;
   }
  .map .text span{
    padding-left: 9px;
    border-left:5px solid black;
    font-size: 20px;
  }
  .map .text1 span{
    font-size: 12px;
  }
  .ad{
  height: auto;
}
.ad .glyphicon{
  font-family: Regular;
  font-size: 12px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 40px;
     line-height: 40px;
    }
    .footer p{
       font-size: 12px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px)
  {
      .header-bottom a{
    font-size: 12px;
    }
    .banner{
      height: 400px;
    }
    .banner img{
      height: 400px;
    }
    .header-pt p{
    font-size: 16px;
    padding-bottom: 4px;
    }
    .header-pt span{
      font-size: 12px;
    }
    .product{
    margin-top:30px;
    }
    .content .text{
  font-size: 14px;
  margin-bottom: 15px;
}
.fieldset{
  border-radius: 10px;
  border:1px solid #0092a2;
 padding: 0 10px 0 15px;
  height: 250px;
}
.legend{
    text-align: center;
}
.legend img{
  width: 50px;
  height: 50px;
}
.fieldset .text1{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 18px;
}
.fieldset .text2{
  font-size: 14px;
  }
  .hot{
  height: 300px;
   margin-top: 40px;
  padding-top: 30px;
}
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 25px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .map{
    height: auto;
    margin-top: 30px;
  padding-top: 20px;
  }
  .map .text{
    padding-bottom: 20px;
   }
  .map .text span{
    padding-left: 9px;
    border-left:5px solid black;
    font-size: 25px;
  }
  .map .text1 span{
    font-size: 14px;
  }
  .ad{
  height: auto;
}
.ad .glyphicon{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 60px;
     line-height: 60px;
    }
    .footer p{
       font-size: 14px;
    }

  }
    @media only screen and (min-width: 992px) and (max-width: 1199px)
  {
    .fieldset{
      height: 349px;
    }
  }
    @media only screen and (min-width: 1200px)
  {
    
  }
