* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
@font-face {
font-family:Bold;
src:url("../font/OpenSans-Bold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Regular;
src:url("../font/OpenSans-Regular.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Extra;
src:url("../font/OpenSans-ExtraBold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
/*========================================>CSS header<===========================*/
.navbar{
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important
}
 .navbar-default{
  background: #3a454d !important ;
  min-height: 81px !important;
  line-height: 81px !important;
 }
 .navbar-default .navbar-toggle .icon-bar{
  background-color:white !important;
  }
  .navbar-toggle {
    background:#0092a2 !important ;
    margin-top: 20px !important;
  }
  .menu a{
    padding:0 !important;
    margin:0 !important;
    color:white !important;
    font-family: Regular !important;
  }

  .menu li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    width: 100px
  }
  .menu a:hover{
    color: #0092a2 !important;
  }
  .menu li:active{
    background: #0092a2;
    border-radius: 5px;
    color: white !important;
  }
  .menu li:active a{
    color: white !important;
    font-family:Bold !important;
  }

.header-bottom{
  height: 50px;
  line-height: 50px;
}
.header-bottom a{
  font-family: Regular;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.header-bottom .text2{
  color: #0092a2;
}
/*========================================>CSS main<===========================*/



/*======================>CSS header-main<====================*/
.main .header-main{
  max-height: 95px;
  margin-bottom: 39px;
}
.main .header-main span{
  font-family: Bold;
  font-size: 36px;
  color: black;
  padding-left: 17px;
  border-left:10px solid black;
}

/*======================>CSS content-main<====================*/
.form{
  height: 776px;
  margin-bottom: 76px;
}
.form .text{
  width: 100%;
  border-radius: 3px;
  height: 43px;
  margin-bottom: 33px;
}
.form .text:last-child{
  margin-top: 18px;
}
.form span{
  display: block;
  font-family: Regular;
  font-size: 14px;
}
.submit{
  background: #0092a2;
  color: white;
  font-size: 14px;
  font-family: Bold;
}
label{
  font-family: Regular;
  font-size: 18px;
}
textarea{
  height: 132px;
  width: 100%;
}
/*======================>CSS sibar-main<====================*/
.ad .icons{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 23px;
  margin-bottom: 15px;
}
.icon{
  margin-right: 30px;
}

/*======================>CSS map<====================*/
.map img{
  max-width: 100%;
}
/*======================>CSS hot<====================*/
.hot{
  height: 474px;
  padding-top: 64px;
  background: #7eb9e3;
}
.hot p{
    padding-bottom: 40px;
    margin-left:15px;
   }
  .hot span{
    padding-left: 17px;
    border-left:10px solid white;
    color: white; 
    font-family: Bold;
    font-size: 36px;
  }
  .hot .col-lg-3{
    margin-bottom: 30px;
  }
  .hot img{
    max-width: 100%;
    max-height: 100%;
  }
  .hot .item{
    margin-right: 20px;
  }

/*========================================>CSS main<===========================*/
  .footer{
     background: #3a454d;
     height: 95px;
     line-height: 95px;
    }
    .footer p{
       font-size: 14px;
       color: white;
    }

  /*========================================>responsive<===========================*/ 
  @media only screen and (min-width: 320px) and (max-width: 767px)
  {
   .menu li{
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .menu li:active{
    display: block;
    border-radius: 0px;
  }
      .header-bottom a{
    font-size: 10px;
    }
    .main .header-main{
  height: 50px;
  margin-bottom: 30px;
}
.main .header-main span{
  font-family: Bold;
  font-size: 20px;
  color: black;
  padding-left: 17px;
  border-left:5px solid black;
}
.form{
  height: 400px;
  margin-bottom: 40px;
}
.form .text{
  width: 100%;
  border-radius: 3px;
  height: 25px;
  margin-bottom: 15px;
}
textarea{
  height: 40px;
  width: 100%;
}
.form .text:last-child{
  margin-top: 10px;
}
label{
  font-size: 12px;
}
.submit
.ad .glyphicon{
  font-size: 12px;
  margin-left: 5px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.ad .logo{
    width: 200px;
}
  .hot{
  height: 250px;
   margin-top: 40px;
  padding-top: 30px;
}
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 20px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .ad{
    margin-top: 30px;
  padding-top: 20px;
  }
  .ad .text{
    padding-bottom: 20px;
   }
  .text span{
    padding-left: 9px;
    border-left:5px solid black;
    font-size: 20px;
  }
  .ad .text1 span{
    font-size: 10px;
  }
   .footer{
     height: 40px;
     line-height: 40px;
    }
    .footer p{
       font-size: 10px;
    }

}
    @media only screen and (min-width: 768px) and (max-width: 991px)
  {
      .header-bottom a{
    font-size: 12px;
    }
    
  .hot{
  height: 300px;
   margin-top: 40px;
  padding-top: 30px;
}
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 25px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .map{
    height: auto;
    margin-top: 30px;
  padding-top: 20px;
  }
  .ad{
  height: auto;
}
.ad .glyphicon{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
    width: 300px;
   
  }
   .footer{
     height: 60px;
     line-height: 60px;
    }
    .footer p{
       font-size: 14px;
    }
  }
    @media only screen and (min-width: 992px)
  {
    .ad .logo{
    width: 250px;
}
  }
    @media only screen and (min-width: 1200px)
  {
    
  }