* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
@font-face {
font-family:Bold;
src:url("../font/OpenSans-Bold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Regular;
src:url("../font/OpenSans-Regular.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Extra;
src:url("../font/OpenSans-ExtraBold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
/*========================================>CSS header<===========================*/
.navbar{
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important
}
 .navbar-default{
  background: #3a454d !important ;
  min-height: 81px !important;
  line-height: 81px !important;
 }
 .navbar-default .navbar-toggle .icon-bar{
  background-color:white !important;
  }
  .navbar-toggle {
    background:#0092a2 !important ;
    margin-top: 20px !important;
  }
  .menu a{
    padding:0 !important;
    margin:0 !important;
    color:white !important;
    font-family: Regular !important;
  }

  .menu li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    width: 100px
  }
  .menu a:hover{
    color: #0092a2 !important;
  }
  .menu li:active{
    background: #0092a2;
    border-radius: 5px;
    color: white !important;
  }
  .menu li:active a{
    color: white !important;
    font-family:Bold !important;
  }

.header-bottom{
  height: 50px;
  line-height: 50px;
}
.header-bottom a{
  font-family: Regular;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.header-bottom .text2{
  color: #0092a2;
}
.banner {
  width: 100%;
  height: 746px;
  margin-bottom: 79px;
 }
 .banner img{
  width: 100%;
  height: 100%;
 }
 .header-pt{
  text-align: center;
  margin-bottom:49px;
}
 .header-pt p{

  border-bottom: 3px solid #0092a2;
}
.header-pt span{
  font-family: Extra;
  font-size: 26px;
  color: #0092a2;
  padding-bottom: 8px;
}
.header-pt img{
  width: 100%;
}
/*========================================>CSS product<===========================*/
.product {
	height: 1760px;
}
.content{
	margin-bottom: 31px;
	background: white;
}
   .product-key img{
    width: 100%;
   }
  .product-key .box {
    margin-top: 30px; 
   }  
.product-key .button{
  text-align: center;
  margin-top:36px;
  margin-bottom: 48px;
}
.product-key .text1{
  padding:10px 42px 10px 42px;
  border:2px solid white;
  font-family:Regular;
  border-radius: 5px;
  color: white;
  font-size: 14.31px;
  background: #7eb9e3;
  text-decoration: none;
}
.product-key .relative{
  position: relative;
}
.product-key .absolute{
  position: absolute;
  background:#487585;
  bottom: 0px;
  width: 100%;
  color: white;
  font-size: 14px;
  font-family: Bold;
  height: 38px;
  line-height: 38px;
  padding-left:6px;
  opacity: 0.7;
  margin-bottom: 0px;
  left: 0px;
}
.button{
	text-align: center;
	margin-top:31px;
	margin-bottom: 81px;
}
.button a{
  padding:15px 42px 15px 42px;
  border:2px solid #0092a2;
  font-family:Regular;
  border-radius: 5px;
  color: #0092a2;
  font-size: 14.31px;
  background: white;
  text-decoration: none;
}


/*========================================>CSS header<===========================*/
/*========================================>CSS doitac<===========================*/
.hot{
  height: 474px;
  padding-top: 64px;
  background: #7eb9e3;
}
.hot p{
    padding-bottom: 40px;
   }
  .hot p span{
    padding-left: 17px;
    border-left:10px solid white;
    color: white; 
    font-family: Bold;
    font-size: 36px;
  }
  .hot .col-lg-3{
    margin-bottom: 30px;
  }
  .hot img{
    width: 100%;
    height: 100%;
  }

.ad{
  height: 269px;
}
.ad .glyphicon{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
  /*========================================>footer<===========================*/    
    .footer{
     background: #3a454d;
     height: 95px;
     line-height: 95px;
    }
    .footer p{
       font-size: 14px;
       color: white;
    }

  /*========================================>responsive<===========================*/ 
@media only screen and (min-width: 320px) and (max-width: 767px)
{
    .menu li{
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .menu li:active{
    display: block;
    border-radius: 0px;
  }
      .header-bottom a{
    font-size: 10px;
    }
    .banner{
      height: 300px;
      margin-bottom: 40px;
    }
    .banner img{
      height: 300px;
    }
    .header-pt span{
      font-size: 10px;
      padding-bottom: 4px;
    }
     .header-pt p{
        border-bottom: 1px solid #0092a2;
    }
    .button{
      margin-top:15px;
      margin-bottom: 20px;
    }
    .button a{
      padding:3px 7px 3px 7px;
      border:1px solid #0092a2;
      font-family:Regular;
      border-radius: 3px;
      font-size: 7px;
    }
    .product {
      height: auto;
    }
    .content{
    margin-bottom: 15px;
      }
    .hot .col-lg-3{
    margin-bottom: 15px;
  }
  .hot{
  height: 250px;
   margin-top: 20px;
  padding-top: 30px;
}
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    font-size: 20px;
  }
  .ad{
  height: auto;
  margin-top: 15px;
}
.ad .icons{
  font-family: Regular;
  font-size: 12px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 40px;
     line-height: 40px;
    }
    .footer p{
       font-size: 12px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px)
{
      .header-bottom a{
    font-size: 12px;
    }
    .banner{
      height: 450px;
      margin-bottom: 40px;
    }
    .banner img{
      height: 450px;
    }
    .header-pt span{
      font-size: 12px;
      padding-bottom: 4px;
    }
     .header-pt p{
        border-bottom: 2px solid #0092a2;
    }
    .button{
      margin-top:20px;
      margin-bottom: 20px;
    }
    .button a{
      padding:10px 25px 10px 25px;
      border:2px solid #0092a2;
      font-family:Regular;
      border-radius: 6px;
      font-size: 12px;
    }
    .product {
      height: 1100px;
    }
    .content{
    margin-bottom: 20px;
      }
    .hot .col-lg-3{
    margin-bottom: 20px;
  }
  .hot{
  height: 300px;
   margin-top: 20px;
  padding-top: 30px;
}
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    font-size: 25px;
  }
  .ad{
  height: auto;
  margin-top: 15px;
}
.ad .glyphicon{
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 60px;
     line-height: 60px;
    }
    .footer p{
       font-size: 12px;
    }
}
@media only screen and (min-width: 992px) and(max-width: 1199px)
{
    .banner{
      height: 600px !important;
      margin-bottom: 40px;
    }
    .banner img{
      height: 600px;
    }
}
@media only screen and (min-width: 1200px)
{
    
}
