* {
 
  box-sizing: border-box; }
@font-face {
font-family:Bold;
src:url("../font/OpenSans-Bold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Regular;
src:url("../font/OpenSans-Regular.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
/*========================================>CSS header<===========================*/
.navbar{
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important
}
 .navbar-default{
  background: #3a454d !important ;
  min-height: 81px !important;
  line-height: 81px !important;
 }
 .navbar-default .navbar-toggle .icon-bar{
  background-color:white !important;
  }
  .navbar-toggle {
   background: #0092a2 !important;
    margin-top: 20px !important;
  }
  .menu a{
    padding:0 !important;
    margin:0 !important;
    color:white !important;
    font-family: Regular !important;
  }

  .menu li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    width: 100px
  }
  .menu a:hover{
    color: #0092a2 !important;
  }
  .menu li:active{
    background: #0092a2;
    border-radius: 5px;
    color: white !important;
  }
  .menu li:active a{
    color: white !important;
    font-family:Bold !important;
  }
.icon{
  margin-top: 118px;
}

/*========================================>CSS banner<===========================*/
.banner {
  height: 746px;
  margin-bottom: 79px;
 }
 .banner img{
  height: 746px !important;
 }
 .absolute .text5{
  font-family: Bold;
  font-size: 36px;
  color: white;
 }
 .absolute .text6{
  font-family: Bold;
  font-size: 16px;
  color: white;
  margin-bottom: 41px;
 }
 .them{
  color: white;
  padding:14px 28px 14px 28px;
  font-size: 14px;
  font-family:Bold;
  background: #23b7a4;
  border-radius: 3px;
  margin-right: 30px;
  margin-top: 41px;
}
 .ngay{
  border-radius: 2px;
  border: 2px solid white;
  padding:14px 28px 14px 28px;
  font-size: 14px;
  font-family:Bold;
  color: white;
  margin-top: 41px;
}
.banner .relative{
  position: relative;
}
.banner .absolute{
  position: absolute;
  top: 50%;
}
.product .text{
  margin-bottom: 31px;
  color: white;
}


/*========================================>CSS product<===========================*/
.product{
  height: 678px;
}
.product .pt{
  margin:79px 0 30px 0;
  border-left:10px solid black;
  padding-left: 10px;
  font-family: Bold;
  font-size: 36px;

}
.product .text{
    font-family: Regular;
    font-size: 18px;
    color: black;
}
.col7 .text{
  margin-bottom: 38px;
}
.product .text1{
  font-family: Regular;
  font-size: 17.99px;
  color: black;
}
.product .text2
{
  font-family: Regular;
  font-size: 14px;
  color: black;
}
.number{
  font-family: Regular;
  font-size: 19.99px;
  color: white;
  background: #0092a2;
   width: 50px; 
   height: 50px;
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size:25px
}
.product .dong{
  margin-bottom: 32px;
}
/*========================================>CSS product-key<===========================*/
.product-key {
  background: #7eb9e3;
  margin-top: 40px;
  padding-top: 40px;
  height: 753px;
   }
   .product-key img{
    width: 100%;
   }
   .product-key .pt-key{
    padding-bottom: 40px;
   }
  .product-key .text{
    padding-left: 17px;
    border-left:10px solid white;
    color: white; 
    font-family: Bold;
    font-size: 36.81px;
    margin-left: 15px;
  }
  .product-key .box {
    margin-top: 30px; 
   }

   
.product-key .button{
  text-align: center;
  margin-top:36px;
  margin-bottom: 48px;
}
.product-key .text1{
  padding:10px 42px 10px 42px;
  border:2px solid white;
  font-family:Regular;
  border-radius: 5px;
  color: white;
  font-size: 14.31px;
  background: #7eb9e3;
  text-decoration: none;
}
.product-key .relative{
  position: relative;
}
.product-key .absolute{
  position: absolute;
  background:#487585;
  bottom: 0px;
  width: 100%;
  color: white;
  font-size: 14px;
  font-family: Bold;
  height: 38px;
  line-height: 38px;
  padding-left:6px;
  opacity: 0.7;
  margin-bottom: 0px;
  left: 0px;
}

/*========================================>CSS TaiSao<===========================*/
.why {
  margin-top: 40px;
  padding-top: 40px;
  height: 742px;
   }
   .why .title{
    padding-bottom: 40px;
    margin-left: 15px;
    font-family: Bold;
    font-size: 36px;
   }
  .why .title span{
    padding-left: 17px;
    border-left:10px solid black;
    color: black; }
.why .col{
  text-align: center;
}
.why .col .box{
  margin-bottom: 98px;
}
.why .text{
  font-family: Bold;
  font-size: 17px;
}
.why .text1{
  font-family: Regular;
  font-size: 16px;
  color: black;
}
/*========================================>CSS doitac<===========================*/
.hot{
  height: 474px;
  padding-top: 64px;
  background: #7eb9e3;
}
.hot p{
    padding-bottom: 40px;
    margin-left:15px;
   }
  .hot span{
    padding-left: 17px;
    border-left:10px solid white;
    color: white; 
    font-family: Bold;
    font-size: 36px;
  }
  .hot .col-lg-3{
    margin-bottom: 30px;
  }
  .hot img{
    max-width: 100%;
    max-height: 100%;
  }
  /*========================================>CSS LienLac<===========================*/
  .map{
    height: 834px;
    margin-top: 64px;
  padding-top: 44px;
  }
  .map .text{
    padding-bottom: 40px;
    margin-left: 15px;
   }
  .map .text span{
    padding-left: 17px;
    border-left:10px solid black;
    color: black;
    font-family: Bold;
    font-size: 36px;
  }
  .map .text1 span{
    font-family: Regular;
    font-size: 14px;
    color: black;
  }
    .map img{
      max-width: 100%;
      max-height: 100%;
    }

.ad{
  height: 269px;
  margin-top: 80px;
}
.ad .icons{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
  /*========================================>footer<===========================*/    
    .footer{
     background: #3a454d;
     height: 95px;
     line-height: 95px;
       margin-top: 71px;
    }
    .footer p{
       font-size: 14px;
       color: white;
    }
/*# sourceMappingURL=style.css.map */




  /*========================================>RESPONSIVE<===========================*/
@media only screen and (min-width: 320px) and (max-width: 767px)
{
  .menu li{
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .menu li:active{
    display: block;
    border-radius: 0px;
  }
    .banner{
      height: 250px !important;
      margin-bottom: 20px;
    }
    .banner img{
      height: 250px  !important;
      width: 100% !important;
    }
  .banner .absolute{
      bottom: 50%;
    }
 .banner .absolute .text5{
  font-size: 14px;
 }
 .banner .absolute .text6{
  font-size: 10px;
  margin-bottom: 5px;
 }
.them{
  color: white;
  padding:3px 8px 3px 8px;
  font-size: 10px;
  border-radius: 1px;
  margin-right: 15px;
}
.ngay{
  border-radius: 1px;
  border: 1px solid white;
  padding:3px 8px 3px 8px;
  font-size: 10px;

  }
  .product{
    height: auto;
    width: auto;
  }
.product .pt{
  margin:40px 0 15px 0;
  border-left:5px solid black;
  padding-left: 5px;
  font-size: 20px;

}
.product .text1{
    font-family: Regular;
    font-size: 14px;
    color: black;
}
.product .text1{
  margin-bottom: 5px;
}
.product .text1{
  font-size: 14px;
}
.product .text2
{
  font-size: 12px;
  color: black;
}
.number{
  font-size: 14px;
  color: white;
  background: #0092a2;
   width: 25px; 
   height: 25px;
    display: block;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size:14px
}
.product .dong{
  margin-bottom: 15px;
}
  .text1{
  margin-bottom: 15px;
  color: white;
}
.text2{
  margin-bottom: 20px;
  color: white;
  }
  .product .icon img{
    width: 20px;
    height: 20px;
  }
  .product .icon{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product-key .button{
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
}
.product-key .text1{
  padding:7px 17px 7px 17px;
  border:2px solid white;
  border-radius: 2px;
  font-size: 8px;
}
.product-key {
  margin-top: 20px;
  padding-top: 20px;
  height: auto;
   }
   .product-key p{
    padding-bottom: 20px;
    padding-left: 5px;
   }
   .product-key .text{
    font-size: 20px;
    border-left: 5px solid white;
   }
  .product-key .box {
    margin-top: 15px; 
  }
  .product-key .box img{
    width: 100%;
    height: auto;

  }
  .why {
  margin-top: 20px;
  padding-top: 20px;
  height: auto;
   }
   .why .title{
    padding-bottom: 20px;
    margin-left: 7px;
    font-size: 20px;
   }
  .why .title span{
    padding-left: 8px;
    border-left:5px solid black;
    }
.why .box{
  margin-bottom: 50px;
}
.why .text{
  font-size: 12px;
}
.why .col .box{
  margin-bottom: 20px;
}
.why .text1{
  font-size: 10px;
  }
  .hot{
  height: 250px;
   margin-top: 40px;
  padding-top: 30px;
  }
  .hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 20px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .map{
    height: auto;
    margin-top: 30px;
  padding-top: 20px;
  }
  .map .text{
    padding-bottom: 20px;
   }
  .map .text span{
    padding-left: 9px;
    border-left:5px solid black;
    font-size: 20px;
  }
  .map .text1 span{
    font-size: 12px;
  }
  .ad{
  height: auto;
}
.ad .glyphicon{
  font-family: Regular;
  font-size: 12px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 40px;
     line-height: 40px;
    }
    .footer p{
       font-size: 12px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 992px)
{

    .banner
    {
      height: 500px  !important;
      margin-bottom: 20px;
    }
    .banner img
    {
      height: 500px  !important;
    }
    .absolute .text5{
  font-size: 20px;
 }
 .absolute .text6{
  font-size: 12px;
 }
.them{
  color: white;
  padding:9px 16px 9px 16px;
  font-size: 13px;
  border-radius: 2px;
  margin-right: 17px;
}
.ngay{
  border-radius: 2px;
  border: 2px solid white;
  padding:9px 16px 9px 16px;
  font-size: 13px;

  }
  .product{
  height: auto;
}
.product .pt{
  margin:45px 0 20px 0;
  border-left:7px solid black;
  padding-left: 10px;
  font-size: 25px;

}
.product .text1{
    font-size: 15px;
    color: black;
}
.product .text1{
  margin-bottom: 12px;
}
.product .text1{
  font-size: 15px;
}
.product .text2
{
  font-size: 12px;
}
.col .number{
  font-size: 16px;
   width: 40px; 
   height: 40px;
    line-height: 40px;
    font-size:16px
}
.product .row{
  margin-bottom: 20px;
}
.col{
  margin-right: 0px;
  }
.product  .text1{
  margin-bottom: 15px;
}
.product .text2{
  margin-bottom: 20px;
  }
  .product .icon img{
    width: 40px;
    height: 40px;
  }
  .product .icon{
    margin-top: 70px;
  }
  .product-key .button{
  text-align: center;
  margin-top:31px;
  margin-bottom: 50px;
}
.product-key .text1{
  padding:3px 8px 3px 8px;
  border:1px solid white;
  border-radius: 2px;
  font-size: 8px;
}
.product-key {
  margin-top: 20px;
  padding-top: 20px;
  height: 450px;
  width: 100%;
   }
   .product-key img{
    width: 100%;
   }
   .product-key p{
    padding-bottom: 20px;
   }
  .product-key .text{
    padding-left: 8px;
    border-left:7px solid white;
    font-size: 25px;
    margin-left: 10px;
  }
  .product-key .col-lg-4 .box {
    margin-top: 15px; }
  .why {
  margin-top: 20px;
  padding-top: 20px;
  height: auto;
   }
   .why .title{
    padding-bottom: 20px;
    margin-left: 10px;
    font-size: 25px;
   }
  .why .title span{
    padding-left: 8px;
    border-left:7px solid black;
    }
.why .box{
  margin-bottom: 20px;
}
.why .text{
  font-size: 14px;
}
.why .text1{
  font-size: 12px;
  }
  .hot{
  height: auto;
   margin-top: 40px;
  padding-top: 30px;
}
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 25px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .map{
    height: auto;
    margin-top: 30px;
  padding-top: 20px;
  }
  .map .text{
    padding-bottom: 20px;
   }
  .map .text span{
    padding-left: 9px;
    border-left:5px solid black;
    font-size: 25px;
  }
  .map .text1 span{
    font-size: 14px;
  }
  .ad{
  height: auto;
}
.ad .glyphicon{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 60px;
     line-height: 60px;
    }
    .footer p{
       font-size: 14px;
    }
    
}
@media only screen and (min-width: 992px) and (max-width: 1199px)
{
  .banner
    {
      height: 600px !important;
      margin-bottom: 20px;
    }
    .banner img
    {
      height: 600px !important;
    }
    .product {
    height: 800px;
  }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 23px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .map{
    height: auto;
    margin-top: 30px;
  padding-top: 20px;
  }
  .map .text{
    padding-bottom: 20px;
   }
  .map .text span{
    padding-left: 9px;
    border-left:5px solid black;
    font-size: 23px;
  }
  .map .text1 span{
    font-size: 14px;
  }
  .why .title{
    padding-bottom: 20px;
    margin-left: 10px;
    font-size: 23px;
   }
  .why .title span{
    padding-left: 8px;
    border-left:5px solid black;
    }
    .product .pt{
      font-size: 23px;
      border-left:5px solid black;
    }
    .product-key .text{
      font-size: 23px;
      border-left:5px solid white;
    }
    .product-key{
      height: 600px;
    }
    .hot{
      height: 350px;
    }
    .product .text1{
      font-size: 14px;
    }
    .product .text2{
      font-size: 12px;
    }
    .icon img{
      width: 40px;
      height: 40px;
    }
}
@media only screen and(min-width: 1200px)
{
  
}