* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
@font-face {
font-family:Bold;
src:url("../font/OpenSans-Bold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Regular;
src:url("../font/OpenSans-Regular.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:Extra;
src:url("../font/OpenSans-ExtraBold.ttf") format("truetype");
font-weight:normal;
 font-style:normal;
}
/*========================================>CSS header<===========================*/
.navbar{
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important
}
 .navbar-default{
  background: #3a454d !important ;
  min-height: 81px !important;
  line-height: 81px !important;
 }
 .navbar-default .navbar-toggle .icon-bar{
  background-color:white !important;
  }
  .navbar-toggle {
    background:#0092a2 !important ;
    margin-top: 20px !important;
  }
  .menu a{
    padding:0 !important;
    margin:0 !important;
    color:white !important;
    font-family: Regular !important;
  }

  .menu li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    width: 100px
  }
  .menu a:hover{
    color: #0092a2 !important;
  }
  .menu li:active{
    background: #0092a2;
    border-radius: 5px;
    color: white !important;
  }
  .menu li:active a{
    color: white !important;
    font-family:Bold !important;
  }

.header-bottom{
  height: 50px;
  line-height: 50px;
}
.header-bottom a{
  font-family: Regular;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.header-bottom .text3{
	color: #0092a2;
}

/*========================================>CSS main<===========================*/
/*======================>CSS content<=================*/

/*===========>CSS header-content<==========*/
.header-content{
	height: 98px;
}
.header-content p{
	font-family: Bold;
	font-size: 30px;
} 
.banner-content
{
	height: 393px;
}
.list-content .text1{
	margin-right: 25px;
	font-family: Bold;
	font-size: 16px;
	color: black;
	width: 14px;
}
.list-content .text2{
	margin-right: 40px;
	font-family: Regular;
	font-size: 14px;
	color: black;
}
.hot{
  height: 474px;
   margin-top: 85px;
  padding-top: 64px;
  background: #7eb9e3;
}
.hot p{
    padding-bottom: 40px;
   }
  .hot p span{
    padding-left: 17px;
    border-left:10px solid white;
    color: white; 
    font-family: Bold;
    font-size: 36px;
  }
  .hot .col-lg-3{
    margin-bottom: 30px;
  }
  .hot img{
    width: 100%;
  }


.ad{
  height: 269px;
}
.ad .glyphicon{
  font-family: Regular;
  font-size: 14px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
  /*========================================>footer<===========================*/    
    .footer{
     background: #3a454d;
     height: 95px;
     line-height: 95px;
    }
    .footer p{
       font-size: 14px;
       color: white;
    }

/*========================================>responsive<===========================*/
@media only screen and (min-width: 320px) and (max-width: 767px)
{
  .menu li{
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .menu li:active{
    display: block;
    border-radius: 0px;
  }
    .header-content{
  height: 40px;
  margin-bottom: 10px;
    }
    .header-content p{
      font-size: 20px;
    } 
  .banner-content
    {
  height: 200px;
  }
  .list-content{
    margin-top: 30px;
  }
  .list-content .text1{
    margin-right: 15px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .list-content .text2{
    margin-right: 25px;
    font-size: 10px;
    margin-bottom: 5px;
  }
  .banner-content img{
    width: 100%;
  }
  .hot{
  height: 250px;
   margin-top: 40px;
  padding-top: 30px;
  }
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 20px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .ad .icons{
  font-family: Regular;
  font-size: 12px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 40px;
     line-height: 40px;
    }
    .footer p{
       font-size: 12px;
    }
}
@media only screen and (min-width: 768px) and ( max-width: 991px)
{
    .header-content{
  height: 40px;
  margin-bottom: 50px;
    }
    .header-content p{
      font-size: 20px;
    } 
  .banner-content
    {
  height: auto;
  }
  .list-content{
    margin-top: 30px;
  }
  .list-content .text1{
    margin-right: 15px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .list-content .text2{
    margin-right: 25px;
    font-size: 10px;
    margin-bottom: 5px;
  }
  .banner-content img{
    width: 100%;
    height: 150%;
  }
  .hot{
  height: 250px;
   margin-top: 40px;
  padding-top: 30px;
  }
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 20px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .ad .glyphicon{
  font-family: Regular;
  font-size: 12px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 40px;
     line-height: 40px;
    }
    .footer p{
       font-size: 12px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px)
{
    .header-content{
  height: 40px;
  margin-bottom: 50px;
    }
    .header-content p{
      font-size: 20px;
    } 
  .banner-content
    {
  height: 300px;
  }
  .list-content{
    margin-top: 30px;
  }
  .list-content .text1{
    margin-right: 15px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .list-content .text2{
    margin-right: 25px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .banner-content img{
    width: 100%;
  }
  .hot{
  height: 250px;
   margin-top: 40px;
  padding-top: 30px;
  }
.hot p{
    padding-bottom: 20px;
   }
  .hot p span{
    padding-left: 9px;
    border-left:5px solid white;
    color: white; 
    font-size: 20px;
  }
  .hot .col-lg-3{
    margin-bottom: 10px;
  }
  .ad .glyphicon{
  font-family: Regular;
  font-size: 12px;
  margin-left: 10px;
}
.ad .col-lg-3 .logo{
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  }
   .footer{
     height: 40px;
     line-height: 40px;
    }
    .footer p{
       font-size: 12px;
    }
}
@media only screen and (min-width: 1200px)
{
  
}



