
.container{
	width: 70%;
}

.menu{
	background-color: #ebf4fd;
}

.menu a{
	color: #696a6a;
	font-weight: bold;
}

.menu .navbar{
	margin-bottom: 0px;
}

.menu li{
	margin: 15px 0px; 
}

.navbar-nav li a:hover{
	background-color: #2694ff;
	border-radius: 5px;
	color: white;
}

.navbar-nav li a:focus{
	background-color: #2694ff;
	border-radius: 5px;
}

.banner{
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}
.bn1{
	background-image: url('../image/q.jpg');
}

.bn2{
	background-image: url('../image/business-blog-1.jpg');
	margin-top: 50px;
	min-height: 350px;
}

.icon-bar{
	background: #000;
}
.container-fluid.bot{
	background-color: #ebf4fd;
	height: 118px;
}
.cp{
	margin-top: 50px;

.container{
	width: 70%;
}

.menu{
	background-color: #ebf4fd;
}

.menu a{
	color: #696a6a;
	font-weight: bold;
}

.menu .navbar{
	margin-bottom: 0px;
}

.menu li{
	margin: 15px 0px; 
}

.navbar-nav li a:hover{
	background-color: #2694ff;
	border-radius: 5px;
	color: white;
}

.navbar-nav li a:focus{
	background-color: #2694ff;
	border-radius: 5px;
}

.banner{
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	
}

.icon-bar{
	background: #000;
}
.container-fluid.bot{
	background-color: #ebf4fd;
	height: 118px;
}
.cp{
	margin-top: 50px;
}