@media screen and (min-width: 1001px) {
     #man_hinh_nho{
         display: none;
    }
     #man_hinh_lon .container{
         position: relative;
    }
     #language_nhl{
         position: absolute;
         right: -80px;
         top: 7px;
    }
     #japanese{
         display: none;
    }
     #vietnamese{
         display: none;
    }
     #language_nhl button{
         background: none;
         border: none;
         color: #606060;
         font-weight: bold;
         text-align: left;
    }
}
 @media screen and (max-width: 1000px) {
     #man_hinh_lon{
         display: none;
    }
     #man_hinh_nho{
         display: block;
    }
     body {
         margin: 0;
    }
     .btn_delete{
         position: absolute;
         right: 25px;
         top: 22px;
    }
    #div_search{
        display: none;
    }
     #a_btn_search{
         color: #337ab7;
         font-weight: normal;
         position: relative;
    }
     .topnav{
         padding: 13px 0;
    }
     .topnav a {
         display: block;
         color: #f2f2f2;
         text-align: center;
         padding: 11px 16px;
         text-decoration: none;
         font-size: 13px;
         border-radius: 5px;
         background: transparent;
         color: #606060;
         font-weight: bold;
    }
     .topnav a:hover {
         background: #2694ff;
         color: #e4e4e4;
    }
     #logo:hover{
         background: transparent;
    }
     #header {
         background-color: #ebf4fd;
    }
     #header .active {
         background-color: #2694ff;
         color: white;
    }
     #menu{
         display: none;
    }
     #menu_bar{
         position: absolute;
         right: 30px;
         top: 30px;
         font-size: 30px;
    }
     #article_1_index .col-md-6{
         height: auto;
    }
     #article_1_index .row{
         margin-top: 50px;
    }
     #article_1_index{
         padding-bottom: 60px;
    }
    #language_mhn button{
        background: none;
        border: none;
        color: #606060;
        font-weight: bold;
   }
}
 @media screen and (max-width: 768px) {
     #article_2_service{
         display: none;
    }
     #article_2_service_mhn{
         display: block;
    }
     #article_2_service_mhn .container-fluid{
         height: 73px;
         background: #ebf4fd;
    }
     #article_2_service_mhn p{
         font-size: 16px;
    }
}
 @media screen and (min-width: 769px) {
     #article_2_service{
         display: block;
    }
     #article_2_service_mhn{
         display: none;
    }
}
