body{
    font-family: 'Raleway', sans-serif;
    height: auto;
    width: 100%;
    height: 100%;
}
/* h2{
    font-family: 'Raleway', sans-serif;
}
h3{
    font-family: 'Raleway', sans-serif;
} */
#header{
    background: #ebf4fd;
}
.navbar-inverse{
    background: #ebf4fd;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
}
#active_header{
    background: #2694ff;
    color: #e4e4e4;
}
#header #myNavbar li{
    margin-top: 5px;
}
#header #myNavbar a{
    background: transparent;
    color: #606060;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    line-height: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#header #myNavbar a:hover{
    background: #2694ff;
    color: #e4e4e4;
}
.navbar-collapse{
    border: none;
}
.navbar-toggle{
    background: #337ab7;
    border: none;
}
#article_1_index{
    background: url("../images/background1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#article_1_index .container{
    position: relative;
}
#article_1_index .col-md-6{
    height: 753px;
}
#article_1_index .row{
    margin-top: 220px;
}
#article_1_index{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
#detail_bar{
    background: white;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 35px;
}
#detail_bar .container{
    position: relative;
}
#detail_bar a{
    color: #606060;
}
#software_telecom img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
}
#text_content{
    margin-bottom: 100px;
}
#text_content h2{
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
    font-weight: bolder;
    color: #2694ff;
    margin-bottom: 27px;
}
#text_content h3{
    font-size: 16px;
    margin-top: 37px;
    color: #8a8a8a;
}
#text_content h3::before{
    content: url('../images/icon_h3.png');
    margin-right: 10px;
    margin-top: 300px;
}
#title h2{
    text-align: center;
    font-size: 26px;
    margin-top: 60px;
    font-weight: bold;
    color: #2694ff;
}
#title h2:before{
    margin-right: 20px;
    content:url("../images/icon_before.png");
}
#title h2::after{
    margin-left: 20px;
    content:url("../images/icon_after.png");
}
#title h3{
    text-align: center;
    font-size: 16px;
    color: #8a8a8a;
    margin-bottom: 60px;
}
img {
    border-radius: 5px 5px 5px 5px;
}
#btn_show_more {
    height: 192px;
    position: relative;
}
#btn_show_more a{
    line-height: 40px;
    width: 198px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
#each_service{
    margin-bottom: 100px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 26px;
}
.card:hover{
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card_img{
    position: relative;
}
.card_img img{
    width: 100%;
}

.card img {
    border-radius: 5px 5px 0 0;
}
.card .button_card{
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    height: 40px;
    width: 45%;
}
.card .button_card button{
    height: 100%;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}
.card .button_card button:hover{
    background: #383838;
    border: solid #383838 1px;
}
.card-text{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 5px;
    color: #606060;
    font-size: 12px;
    height: 100px;
}
#article_2 .container-fluid{
    height: 73px;
    background: #ebf4fd;
}
#article_2 .container .col-md-6{
    margin-top: 20px;
}
#article_2 p{
    font-size: 18px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 7%;
}
#article_2_service .container-fluid{
    height: 73px;
    background: #ebf4fd;
}
#article_2_service .container .col-md-6{
    height: 338px;
}
#article_2_service p{
    font-size: 16px;
}
#carousel .item{
    height: 250px;
}
#carousel img{
    width: 100%;
}
#carousel .owl-theme{
    position: relative;
}
#carousel .owl-prev{
    position: absolute;
    left: -36px;
    top: 100px;
}
#carousel .owl-next{
    position: absolute;
    right: -35px;
    top: 100px;
}
#img_content_services{
    height: 123px;
    position: relative;
}
#img_content_services h2{
    text-align: center;
    font-size: 26px;
    margin-top: 45px;
    font-weight: bold;
    color: #2694ff;
}
#img_content_services h2:before{
    margin-right: 20px;
    content:url("../images/icon_before.png");
}
#img_content_services h2::after{
    margin-left: 20px;
    content:url("../images/icon_after.png");
}
#img_content_services img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
#text_content_services{
    height: 215px;
    padding: 0 15%;
    text-align: center;
}
#our_clients{
    background: #2692ff;
}
#our_clients h2{
    text-align: center;
    font-size: 26px;
    margin-top: 35px;
    font-weight: bold;
}
#our_clients h3{
    text-align: center;
    font-size: 16px;
    color: white;
    margin-bottom: 23px;
}
#our_clients h2:before{
    margin-right: 38px;
    content:url("../images/icon_before_our_clients.png");
}
#our_clients h2::after{
    margin-left: 38px;
    content:url("../images/icon_after_our_clients.png");
}
#article_6 .container{
    margin-top: 90px;
    margin-bottom: 130px;
}
#article_6 .container p{
    font-size: 12px;
}
#article_6 .container a{
    color: #333;
}
#article_7 .row{
    height: 487px;
}
#footer{
    background: #ebf4fd;
}
#footer address{
    font-size: 18px;
    text-align: center;
    line-height: 100px;
    margin-top: 20px;
}
#background_our_clients{
    background: #ebf4fd;
}
.owl-theme .item{
    position: relative;
}
.owl-theme .item{
    position: relative;
    height: 370px;
}
.owl-theme .item img{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.owl-theme{
    position: relative;
}
.owl-prev{
    position: absolute;
    left: -20px;
    top: 170px;
}
.owl-next{
    position: absolute;
    right: -20px;
    top: 170px;
}
#content_abouts .col-md-4{
    margin-bottom: 50px;
}
#content_abouts img{
  width: 100%;
}
#info_megafost{
    margin-bottom: 175px;
}
#info_megafost p{
    font-size: 14px;
}
#form_contact{
    margin-bottom: 175px;
}
#form_contact p{
    font-size: 18px;
    margin-bottom: 18px;
}
#form_contact input{
    height: 45px;
}
#form_contact button{
    width: 100%;
    border: none;
    background: #2694ff;
}
#input_search{
    position: absolute;
    right: 30px;
    top: 10px;
}
#input_search span{
    font-size: 10px;
}
#input_search input{
    font-weight: normal;
}
#div_search{
    position: relative;
}
.btn_delete{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
}