.footer {
    padding-top: 50px;
}

.footer .muc {
    display: table-cell;
    font-size: 0.7em;
    width: 20%;
    padding-bottom: 8%;
}

.footer .muc ul li a {
    color: #747474;
}

.footer .muc h1 {
    color: #414141;
    border-bottom: 1px solid #ccc6;
    width: 100px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.footer .muc ul li i {
    padding-right: 5px;
}

.copy {
    text-align: center;
    padding: 35px;
    margin: auto;
    background: #ebf4fd;
}

.map {
    height: 410px;
}

.copy p {
    margin: auto;
}