.header {
  background-color: #ebf4fd;
  height: 70PX;
  line-height: 65px;
  color: #000;
}

.header .logo img {
  width: 45%;
}

.header .menu {
  text-align: right;
}

.header .menu ul li {
  display: inline-block;
  margin-left: -5px;
}

.header .menu ul li a {
  padding: 10px 14px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
  border-radius: 5px;
}

.header .menu ul li a:hover {
  background-color: #2692ff;
  color: #fff;
}

.header .menu ul li i {
  padding-left: 10px;
  cursor: pointer;
}

.header .language {
  position: absolute;
  top: 0;
  right: -22%;
  width: 20%;
  z-index: 1;
  line-height: 39px;
  margin-top: 12px;
  font-size: 1em;
}

.header .language img {
  width: 37%;
  border: 1px solid #27b6e0;
  cursor: pointer;
}

.header .language .sub-menu {
  display: none;
}

.header .language li:hover .sub-menu {
  display: block;
}