* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  line-height: 1.543em;
  color: #888888;
}

ul {
  list-style: none;
}

a, a:hover, a:visited {
  color: #888888;
  text-decoration: none;
}

ul {
    list-style: none;
}

.container {
  max-width: 65%;
}