.banner {
  background-image: url('../img/back.png');
  background-size: cover;
  color: #000;
  height: 531px;
}

.banner .gach,
.banner .otv {
  margin-top: 17%;
  font-weight: bold;
  padding: 0;
}

.banner .otv img {
  width: 100%;
}
.banner .gach ul li {
  padding-top: 5px;
}
.banner .gach h1,
.banner .gach h3, 
.banner .gach .den {
  text-align: center;
  text-transform: uppercase;
}

.banner .gach h3 {
  font-size: 0.9em;
  color: #353535;
  margin-bottom: 0;
}

.banner .gach h1 {
  font-weight: 600;
  color: #353535;
  font-size: 3.6em;
  margin-bottom: 0;
}

.banner .gach .den {
  background: #353535;
  color: #2692ff;
  padding: 3px;
  border-radius: 4px;
}

.content .bai img {
  width: 100%;
}

.content .bai h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6em;
  padding: 20px;
  color: #2692ff;
  margin-top: 20px;
  font-weight: 600;
}

.content .bai ul {
  display: inline-block;
  list-style: url('../img/ovuong.png');
  padding: 0 15px;
}

.content .bai ul li {
  padding: 6px 5px;
  font-size: 0.85em;
}

.bannermid {
  height: 340px;
}

.bannermid img {
  width: 100%;
}

.bai2 {
  margin: 0;
  padding: 1%;
}

.bai2 .bai {
  border: 1px solid #ece4e4;
  height: 327px;
}

.bai2 .ten {
  position: absolute;
  top: 56%;
  width: 110px;
  left: 26%;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  background: #2692ff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 0.8em;
}

.bai2 .chu {
  text-align: justify;
  padding: 10px;
  font-size: 0.8em;
  margin-top: 10px;
}

.bai2 .ten:hover {
  background: #393939;
}