@media screen and (min-width: 360px) {
  .header .logo img {
    width: 84%;
  }
  
  .header .menu {
    display: none;
  }
  
  .header .language {
    display: none;
  }
  
  .banner .otv {
    display: none;
  }
  
  .banner{
    height: 20%;
  }
  
  .banner .gach h1 {
    font-size: 2em;
  }
  
  .tieude .kephai, 
  .tieude .ketrai {
    display: none;
  }
  
  .bannermid {
    height: auto;
  }
  
  .bai2 .bai {
    height: 329px;
    margin-bottom: 15px;
  }
  .content .bai .ten {
    top: 61%;
    left: 26%;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 70%;
    height: 110px;
    margin: auto;
}
  .nen {
    height: auto;
  }
  
  .nen .container {
    padding-top: 0;
  }
  
  .footer {
    display: none;
  }
  
  .map {
    display: none;
  }
  .end {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 90%;
  }
  .header .logo img {
    width: 53%;
  }
  
  .header .menu {
    display: block;
  }
  
  .header .menu ul li a {
    padding: 5px 5px;
  }
  
  .header .language {
    display: block;
  }
  
  .banner .otv {
    display: block;
  }
  
  .banner{
    height: 20%;
  }
  
  .banner .gach h1 {
    font-size: 2em;
  }
  
  .tieude h1 .ketrai, 
  .tieude h1 .kephai {
    width: 191%;
    display: block;
  }
  
  .tieude h1 .ketrai {
    left: -230%;
  }
  
  .tieude h1 .kephai {
    right: -230%;
  }
  
  .bannermid {
    height: auto;
  }
  .content .bai .ten {
    top: 40%;
    left: 27%;
    width: 70px;
    padding: 4px;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 70%;
    height: 110px;
    margin: auto;
}
  .nen {
    height: auto;
  }
  
  .content .bai ul {
    padding: 0 12px;
  }
  
  .bai2 .bai {
    height: 300px;
  }
  
  .content .bai ul li {
    padding: 5px;
  }
  
  .nen .container {
    padding-top: 0;
  }
  
  .footer {
    display: block;
  }
  
  .map {
    display: block;
    margin-bottom: 40px;
  }
  .end {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1270px) {
  .container {
    width: 65%;
    max-width: 65%;
  }
  .header .logo img {
    width: 50%;
  }
  
  .header .menu {
    display: block;
  }
  
  .header .menu ul li a {
    padding: 9px 15px;
  }
  
  .header .language {
    display: block;
  }
  
  .banner .otv {
    display: block;
  }
  
  .banner{
    height: 459px;
  }
  
  .banner .gach h1 {
    font-size: 2em;
  }
  
  .tieude h1 .ketrai, 
  .tieude h1 .kephai {
    width: 191%;
    display: block;
  }
  
  .tieude h1 .ketrai {
    left: -230%;
  }
  
  .tieude h1 .kephai {
    right: -230%;
  }
  
  .bannermid {
    height: auto;
  }
  .content .bai .ten {
    top: 53%;
    left: 24%;
    width: 110px;
    padding: 6px;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 70%;
    height: 110px;
    margin: auto;
}
  .nen {
    height: auto;
  }
  
  .content .bai ul {
    padding: 0 21px;
  }
  
  .bai2 .bai {
    height: 327px;
  }
  
  .content .bai ul li {
    padding: 5px;
  }
  
  .nen .container {
    padding-top: 0;
  }
  
  .footer {
    display: block;
  }
  
  .map {
    display: block;
    margin-bottom: 40px;
  }
  .end {
    margin-top: 5px;
  }
}