.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 37%;
  outline: none;
}

.owl-carousel .owl-nav button.owl-next img,
.owl-carousel .owl-nav button.owl-prev img {
  width: 25px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -7%;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -7%
}

.nen .container {
  padding-top: 75px;
}