.tieude {
  height: 100px;
  /*! overflow: hidden; */
  position: relative;
  /*! margin-top: 4%; */
}

.tieude h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  color: #000;
  font-weight: bold;
  margin: auto;
}

.tieude p {
  
  position: absolute;
  top: 62%;
  /*! left: 34%; */
  width: 100%;
  text-align: center;
}

.tieude h1 .xanh {
  color: #2692ff;
}

.tieude h1 .ketrai,
.tieude h1 .kephai {
  position: absolute;
  top: 37%;
  width: 240%;
}

.tieude h1 .ketrai {
  
  left: -280%;
}

.tieude h1 .kephai {
  
  right: -280%;
}

.tieude h1 .baytrai,
.tieude h1 .bayphai {
  position: absolute;
  top: 21%;
}

.tieude h1 .baytrai {
  left: -30%;
}

.tieude h1 .bayphai {
  right: -30%;
}

.tieude.nenxanh {
  background: #2692ff;
  margin-top: 4%;
  width: 104%;
}

.tieude.nenxanh .container {
  height: 100px;
}

.nen {
  background: #ebf4fd;
  height: 300px;
}

.tieude.nenxanh .xanh,
.tieude.nenxanh p{
  color: #fff;
}