*body{
	padding:0;
	margin:0;
}
.header{
	width: 100%;
	height: 80px;
	background-color: #3a454d;
	line-height: 80px;
}
.anh{
	width: 40%;
	height: 30px;
	float:left;
	
	
}
.anh img{
	width: 35%;
	height: 45px;
  
}
.menu{
	width: 60%;
	height: 50px;
	float:left;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.menu ul li a{
	color: #fff;
	background-color: #3a454d;
	text-decoration:none;
	display:block;
  text-align: center;
	font-family: Regular;
  font-size: 14px;
}
.menu ul li a:hover{
	color:#fff;
	background-color: #0092a2;
}
.banner {
  height: 500px;
  
 }
 .banner img{
  width: 100%;
  height: 500px;
 }
 .absolute .text1{
  font-family: Bold;
  font-size: 36px;
   padding: 0 0 0 20px;
 }
 .absolute .text2{
  font-family: Bold;
  font-size: 16px;
    padding: 0 0 0 20px;
 }

.xemthem{
  color: white;
  padding:16px 30px 16px 30px;
  font-size: 14px;
  font-family:Bold;
  background: #23b7a4;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 30px;
  text-decoration: none;
}
.xemngay{
  border-radius: 2px;
  border: 2px solid white;
  padding:16px 30px 16px 30px;
  font-size: 14px;
  font-family:Bold;
  color: white;
  text-decoration: none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  top: 30%;
  left: 8%;
}
.text1{
  margin-bottom: 31px;
  color: white;
}
.text2{
  margin-bottom: 41px;
  color: white;
}

.khung{
	width: 70%;
	margin:0 auto;
}

.about{
  height: 800px;
	width: 100%;
}
.about .tieude{
  margin:79px 0 30px 0;
  border-left:10px solid black;
  padding-left: 10px;
  font-family: Bold;
  font-size: 36px;

}
.about .text1{
    font-family: Regular;
    font-size: 18px;
    color: black;
	  margin-bottom: 30px;
}
.about .vanban{
  width: 50%;
  float:left;
 
}
.row{
  width: 100%;
  height: 500px;
}
.vanban .row{
  width: 100%;
  height: 150px;
}
.row .so{
  width: 20%;
  height: 150px;
  float: left;
  text-align: right;
}
.row .trai{
  width: 80%;
  height: 150px;
  float:left;
}
.about .text2
{
  font-family: Regular;
  font-size: 14px;
  color: black;
}
.so .number{
  font-family: Regular;
  font-size: 20px;
  color: white;
  background: #0092a2;
   width: 48px; 
   height: 48px;
    display: block;
    
    text-align: center;
    line-height: 48px;
   
}
.product-key .button{
  text-align: center;
  margin-top:31px;
  margin-bottom: 81px;
}
.product-key a{
  padding:15px 42px 15px 42px;
  border:2px solid white;
  font-family:Regular;
  border-radius: 5px;
  color: white;
  font-size: 14.31px;
  background: #7eb9e3;
  text-decoration: none;
}
.product-key {
  background: #7eb9e3;
  margin-top: 40px;
  padding-top: 40px;
  height: 753px;
   }
   .product-key p{
    padding-bottom: 40px;
   }
  .product-key .text{
    padding-left: 17px;
    border-left:10px solid white;
    color: white; 
    font-family: Bold;
    font-size: 36.81px;
    display: block;
    margin-left: 15px;
  }
  .product-key .col-lg-4 .box {
    margin-top: 30px; }

    .product-key  img {
      width: 100%; }

.ser {
  margin-top: 40px;
  padding-top: 40px;
  min-height: 500px;
   }
.ser .title{
    padding-bottom: 40px;
    margin-left: 15px;
    font-family: Bold;
    font-size: 36px;
     color:#292f36;
   }
.ser p .chon{
    padding-left: 10px;
    border-left:10px solid black;
    color: black; }
.ser .col{
  text-align: center;
}
.ser .col .box{
  margin-bottom: 98px;
}
.ser .text{
  font-family: Bold;
  font-size: 17px;
}
.ser .text1{
  font-family: Regular;
  font-size: 16px;
  color: black;
}
.client{
	width: 100%;
	height: 472px;
	
	background-color: #7eb9e3;
	
}
.client p{
	font-family: regular;
	font-size:36px;
	color:#fff;
  padding-top: 30px;
  padding-bottom: 20px;
}
.client p .doitac{
	border-left: 8px solid white;
	padding-left: 8px;
  
}
.client .lan{
	width: 100%;
	height: 165px;
	text-align: center;

}
.lan .bon{
	width: 20%;
	height: 165px;
	float:left;
	background-color: #fff;
	margin-left: 40px;
	
}
.bon .mot{
	width: 90%;
	height: 80px;
	padding-top: 35px;
}
.bon .ba{
	width: 70%;
	height: 70%;
	padding-top: 20px;
}
.contact{
	height: 850px;
	width: 100%;
}
.contact p{
	font-family: regular;
	font-size:36px;
	color:#4e5a62;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact p .lienlac{
	border-left: 8px solid black;
	padding-left: 8px
}
.contact ul{
	list-style-type: none;
	
	text-align: left;
}
.contact li{
	padding: 7px;
}
.contact ul li a{
	text-decoration: none;
  color:#7c7c7c;
	font-family: regular;
	font-size: 14px;
	text-align: left;

}
.footer {
	width: 100%;
	height: 95px;
	background-color: #3a454d;
	text-align: left;
  line-height: 95px;
}
.footer p{
	color: #d7d8d9;
	font-family: regular;
	font-size: 14px;
}
