*body{
	padding: 0;
	margin: 0;
}
.header{
	width: 100%;
	height: 130px;
}
.khung{
	width: 70%;
	margin:0 auto;
}
.header .tren{
	height: 80px;
	width: 100%;
	background-color: #3a454d;
}
.anh{
	width: 40%;
	height: 80px;
	float:left;
	
	
}
.anh img{
	width: 35%;
	height: 45px;
  padding: 15px 0 0 0;
}
.menu{
	width: 60%;
	height: 50px;
	float:left;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.menu ul li a{
	color: #fff;
	background-color: #3a454d;
	text-decoration:none;
	display:block;
  text-align: center;
	font-family: Regular;
  font-size: 14px;
}
.menu ul li a:hover{
	color:#fff;
	background-color: #0092a2;
}
.header .duoi{
	width: 100%;
	height: 50px;
	background-color:#fff;
}
.duoi p{
	font-family: regular;
  font-size: 16px;
}
.banner{
	width: 100%;
	height: 766px;
}
.banner img{
	width: 100%;
	height: 766px;
}
.about{
	width: 100%;
	height: 964px;
}
.about .title{
	width: 100%;
	height: 156px;
}
.about .text{
	width: 100%;
	height: 360px;
}
.about .123{
	width: 100%;
	height: 448px;
}
.title .left_shape{
	width: 40%;
	height: 156px;
	float:left;
	
	line-height: 156px;
}
.left_shape img{
	width: 100%;
	height: 10px;
	
}
.title .gioithieu{
	width: 20%;
	height: 156px;
	float:left;
  
	text-align: center;
	
}
.gioithieu p{
	font-family: regular;
	font-size: 26px;
	padding: 40px 0 0 0;
	text-decoration-line: underline; 
}
.title .rigth_shape{
	width: 40%;
	height: 156px;
	float:left;
	line-height: 156px;
}
.rigth_shape img{
	width: 100%;
	height: 10px;
}
