*body{
	padding:0;
	margin:0;
}
.header{
	width: 100%;
	height: 50px;
	background-color: #3a454d;
	
}
.anh{
	width: 40%;
	height: 50px;
	float:left;
	
}
.anh img{
	width: 30%;
	height: 45px;
}
.menu{
	width: 60%;
	height: 50px;
	float:left;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.menu ul li a{
	color: #fff;
	background-color: #3a454d;
	text-decoration:none;
	display:block;
  text-align: center;
	font-family: Regular;
  font-size: 14px;
}
.menu ul li a:hover{
	color:#fff;
	background-color: #0092a2;
}

.banner {
  height: 500px;
  
 }
 .banner img{
  width: 100%;
  height: 500px;
 }
 .absolute .text1{
  font-family: Bold;
  font-size: 36px;
 }
 .absolute .text2{
  font-family: Bold;
  font-size: 16px;
 }
.xemthem{
  color: white;
  padding:16px 30px 16px 30px;
  font-size: 14px;
  font-family:Bold;
  background: #23b7a4;
  border-radius: 3px;
  margin-right: 30px;
  text-decoration: none;
}
.xemngay{
  border-radius: 2px;
  border: 2px solid white;
  padding:16px 30px 16px 30px;
  font-size: 14px;
  font-family:Bold;
  color: white;
  text-decoration: none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  top: 30%;
  left: 8%;
}
.text1{
  margin-bottom: 31px;
  color: white;
}
.text2{
  margin-bottom: 41px;
  color: white;
}
.about {
	width: 100%;
	height: 300px;
}
.khung{
	width: 70%;
	margin:0 auto;
}

.about{
  height: 800px;
	
}
.about .tieude{
  margin:79px 0 30px 0;
  border-left:10px solid black;
  padding-left: 10px;
  font-family: Bold;
  font-size: 36px;

}
.about .text1{
    font-family: Regular;
    font-size: 18px;
    color: black;
	  margin-bottom: 30px;
}
.vanban{
  width: 50%;
  float:left;
 
}

.about .text2
{
  font-family: Regular;
  font-size: 14px;
  color: black;
}
.so .number{
  font-family: Regular;
  font-size: 20px;
  color: white;
  background: #0092a2;
   width: 48px; 
   height: 48px;
    display: block;
    
    text-align: center;
    line-height: 48px;
   
}
.product-key .button{
  text-align: center;
  margin-top:31px;
  margin-bottom: 81px;
}
.product-key a{
  padding:15px 42px 15px 42px;
  border:2px solid white;
  font-family:Regular;
  border-radius: 5px;
  color: white;
  font-size: 14.31px;
  background: #7eb9e3;
  text-decoration: none;
}
.product-key {
  background: #7eb9e3;
  margin-top: 40px;
  padding-top: 40px;
  height: 753px;
   }
   .product-key p{
    padding-bottom: 40px;
   }
  .product-key .text{
    padding-left: 17px;
    border-left:10px solid white;
    color: white; 
    font-family: Bold;
    font-size: 36.81px;
    display: block;
    margin-left: 15px;
  }
  .product-key .col-lg-4 .box {
    margin-top: 30px; }

    .product-key  img {
      width: 100%; }

.ser {
  margin-top: 40px;
  padding-top: 40px;
  min-height: 700px;
   }
   .ser .title{
    padding-bottom: 40px;
    margin-left: 15px;
    font-family: Bold;
    font-size: 36px;
   }
  .ser.title span{
    padding-left: 17px;
    border-left:10px solid black;
    color: black; }
.ser .col{
  text-align: center;
}
.ser .col .box{
  margin-bottom: 98px;
}
.ser .text{
  font-family: Bold;
  font-size: 17px;
}
.ser .text1{
  font-family: Regular;
  font-size: 16px;
  color: black;
}
.feratures{
	width: 100%;
	height: 300px;
	background-color: #7eb9e3;
	color: #fff;
}
.feratures h2{
	padding: 20px 0 0 200px;
	
}
.f1{
	width: 15%;
	height: 40px;
	float:left;
  
}

.f11{
	
	display: inline-table;
	padding: 50px;
	background-color: #fff;

}
.contact{
	width: 100%;
	height: 600px;
	background-color: #fff;
}
.contact h2{
	padding: 20px 0 0 200px;
}
.contact ul{
	list-style-type: none;
	padding: 20px 0 0 200px;
}
.contact ul li a{
	text-decoration: none;
  color:#7c7c7c;
}
.contact img{
	width: 100%;
	height: 300px;
}
.footer{
	width: 100%;
	height: 80px;
  line-height: 80px;
	background-color: #3a454d;
	color: #71787c;
}
.footer p{
	padding: 0 0 0 200px;
  
}

