*body{
	padding: 0;
	margin: 0;
}
.header{
	width: 100%;
	height: 130px;
}
.khung{
	width: 70%;
	margin:0 auto;
}
.header .tren{
	height: 80px;
	width: 100%;
	background-color: #3a454d;
}
.anh{
	width: 40%;
	height: 30px;
	float:left;
	
	
}
.anh img{
	width: 35%;
	height: 45px;
  padding: 15px 0 0 0;
}
.menu{
	width: 60%;
	height: 50px;
	float:left;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.menu ul li a{
	color: #fff;
	background-color: #3a454d;
	text-decoration:none;
	display:block;
  text-align: center;
	font-family: Regular;
  font-size: 14px;
}
.menu ul li a:hover{
	color:#fff;
	background-color: #0092a2;
}
.header .duoi{
	width: 100%;
	height: 50px;
	
}
.duoi p{
	font-family: regular;
  font-size: 16px;
}
.banner{
	width: 100%;
	height: 766px;
}
.banner img{
	width: 100%;
	height: 766px;
}
.about{
	width: 100%;
	height: 964px;
	
}
.about .title{
	width: 100%;
	height: 156px;
	
}
.about .text{
	width: 100%;
	height: 360px;
	
}
.about .cuoi{
	width: 100%;
	height: 430px;
	
}
.title .left_shape{
	width: 40%;
	height: 156px;
	float:left;
	
	line-height: 156px;
}
.left_shape img{
	width: 100%;
	height: 15px;
	
}
.title .gioithieu{
	width: 20%;
	height: 156px;
	float:left;
 
	text-align: center;
	
}
.gioithieu p{
	font-family: regular;
	font-size: 26px;
	padding: 38px 0 0 0;
	 
	color:#0092a2;
}
.gioithieu hr{
	background-color: #0092a2;
  height: 3px;
	
}
.title .rigth_shape{
	width: 40%;
	height: 156px;
	float:left;
	line-height: 156px;
}
.rigth_shape img{
	width: 100%;
	height: 15px;
}
.text .text1{
	font-family: regular;
	font-size: 16px;
	color:#6b6b6b;
	padding: 0 0 30px 0;
}

.cuoi .mot{
	width: 30%;
	height: 360px;
	float:left;
	
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}
.legend {
  display: block;
  width: 100%;
  padding: 0;
	
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
.fieldset { 
    display: block;
    border: 2px groove (internal value);
}

.mot .gioithieu{
	font-family: ragular;
	font-size: 26px;
	color:#3b3b3b;
}
.mot .text1
{
	font-family: regular;
	font-size: 16px;
	color:#3b3b3b;
}
.client{
	width: 100%;
	height: 472px;
	
	background-color: #7eb9e3;
	
}
.client p{
	font-family: regular;
	font-size:36px;
	color:#fff;
}
.client p .doitac{
	border-left: 8px solid white;
	padding-left: 8px
}
.client .lan{
	width: 100%;
	height: 165px;
	text-align: center;

}
.lan .bon{
	width: 20%;
	height: 165px;
	float:left;
	background-color: #fff;
	margin-left: 40px;
	
}
.bon .mot{
	width: 90%;
	height: 80px;
	padding-top: 35px;
}
.bon .ba{
	width: 70%;
	height: 70%;
	padding-top: 20px;
}
.contact{
	height: 850px;
	width: 100%;
}
.contact p{
	font-family: regular;
	font-size:36px;
	color:#4e5a62;
	padding-top: 30px;
	padding-bottom: 30px;
}
.contact .lienlac{
	border-left: 8px solid black;
	padding-left: 8px
}
.contact ul{
	list-style-type: none;
	
	text-align: left;
}
.contact li{
	padding: 7px;
}
.contact ul li a{
	text-decoration: none;
  color:#7c7c7c;
	font-family: regular;
	font-size: 14px;
	text-align: left;

}
.footer {
	width: 100%;
	height: 95px;
	background-color: #3a454d;
	text-align: left;
}
.footer p{
	color: #d7d8d9;
	font-family: regular;
	font-size: 14px;
}

