@media screen and (max-width: 1200px) {
	.navbar ul {
		width: auto !important;
	}
	.language {
		right: -20px;
	}
	.search {
		right: 100px;
	}
	.wrap_banner_text p {
		font-size: 14px;
	}
	.container {
		max-width: 1140px;
	}
}
@media screen and (max-width: 992px) {
	.container {
		max-width: 100%;
		padding: 0px 15px	;
	}
	#wrap_header .container  {
		padding: 0px;
	}
	.navbar {
		position: relative;
		z-index: 1;
		display: none;
	}
	.btn_nav {
		display: block;
		position: absolute;
		top: 10%;
		right: 30px;
	}
	.navbar ul {
		background-color: #f3f3f3;
		display: block;
		width: 100%;
	}
	.navbar li {
		border-bottom: 1px solid #d3d3d3;
		display: block;
		text-align: center;
	}
	.navbar li a {
		display: block;
		text-align: center;
		border-radius: 0;
	}
	.language {
		position: relative;
		text-align: center;
		background-color: #f3f3f3;
		left: 0px;
		top: 0;
		padding: 15px;
	}
	.logo_img {
		padding-left: 15px;
	}
	.wrap_banner_text {
		padding-bottom: 0;
	}
	.wrap_banner_text h4 {
		width: 70%;
		margin: 0 15%;
	}
	.wrap_banner_text ul {
		margin-top: 20px;
		margin-left: 20%;
	}
	.search {
		top: 0;
		margin: 0;
		left: 0;
		width: 100%;

	}
	.search input {
		width: 100%;
	}
	.img_banner {
		text-align: center;
	}
	.img_banner img {
		margin-top: 15%;
	}
	.list_service {
		margin-bottom: 15px;
	}
	.slide_our_client .container {
		max-width: 90%;
	}
	.double_line_left, .double_line_right {
		width: 30%;
	}
	.double_line_left_client, .double_line_right_client {
		width: 30%;
	}
	.left_products {
		padding: 0px 15px;
	}
	.left_products li {
		text-align: left;
	}
}
@media screen and (max-width: 768px) {
	.wrap_banner_text h1 {
		font-size: 56px;
	}
	.img_banner {
		padding-top: 15px;
	}
	.double_line_left, .double_line_right {
		width: 25%;
	}
	.double_line_left_client, .double_line_right_client {
		width: 25%;
	}
	.logo_img img {
		margin-left: 15px;
	}
	.left_products {
		text-align: center;
	}
	.left_products img {
		width: 100%
	}
	.left-ul-50 {
		padding: 0px 15px;
	}
	.list_contact_foot {
		margin-bottom: 20px;
		height: 250px;
		width: 33.333333%;
	}
}
@media screen and (max-width: 500px) {
	.double_line_left, .double_line_right {
		width: 15%;
	}
	.double_line_left_client, .double_line_right_client {
		width: 15%;
	}
	.img_banner img {
		margin-top: 25%;
	}
	.left-ul-50 {
		width: 100%;
		padding-left: 30px;
	}
	.list_contact_foot {
		margin-bottom: 20px;
		width: 50%;
	}
	.list_contact_foot_clear {
		clear: both;
	}
}