html,body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Raleway";
}
body {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.container {
    max-width: 1170px;
}
.logo_img {
    display: block;
}
#wrap_header {
    height: 100px;
    background-color: #ebf4fd;
    border-bottom: 2px solid #dedede;
}
.logo_img {
    height: 100%;
}
.logo_img img {
    margin-top: 50px;
    transform: translateY(-50%);
}
.navbar {
    position: relative;
    padding: 0;
    height: 100px;
}
.navbar ul {
    display: table;
    width: 100%;
}
.navbar li{
    display: table-cell;
}
.navbar a {
    font-weight: 800;
    font-family: "Raleway";
    text-align: center;
    border-radius: 10px;
    display: block;
    padding: 15px ;
    text-decoration: none;
    content: 0px;
    font-size: 12px;
    color: #606060;

}
.language {
    position: absolute;
    right: -85px;
    top: 35%;
}
.toggle_language {
    display: none;
}
.language:hover {
    cursor: pointer;
}
.navbar a i {
    color: #2694ff;
}
.navbar a:hover {
    background-color: #2694ff;
    color: #e4e4e4;
}
.nav_active {
    background-color: #2694ff;
    color: #e4e4e4 !important;
}
.search_icon a:hover {
    background-color: #ebf4fd;
    color: #2694ff !important;
}
.language img {
    width: 40px;
    height: 25px;
}
.language a:hover
{
    background-color: #ebf4fd;
    color: #606060;
}
.banner {
    background-image: url("../img/banner.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .col-lg-6 {
    padding: 0px;
}
.banner img {
    margin-top: 50%;
    transform: translateY(-50%);
}
.wrap_banner_text {
    height: auto;
    font-family: "Raleway";
    margin-top: 30%;
    padding-bottom: 150px;
    text-transform: uppercase;
}
.wrap_banner_text h5 {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}
.wrap_banner_text h1 {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    color: #383838;
    font-weight: bolder;
}
.wrap_banner_text h4 {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    background-color: #333333;
    color: #2694ff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.wrap_banner_text p {
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}
.wrap_banner_text p:before {
    content: "-";
    text-indent: -5px;
}
.left-ul-50 {
    width: 50%;
    float: left;
}
.left_products {
    padding: 0px;
}
.left_products h2 {
    color: #2694ff;
    padding: 25px 0px 40px 0px;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.left_products ul {
    padding-left: 20px;
}
.left_products li {
    height: 50px;
    list-style-image: url('../img/icon/icon1.jpg');
}
.left_products li p {
    display: inline;
    vertical-align: text-bottom;
    font-size: 16px;
    margin: 0;
    text-align: left;
    text-indent: 20px;

}
.our_products {
    margin-bottom: 100px;
}
.our_products_title {
    margin-top: 75px;
    margin-bottom: 65px;
    text-align: center;
    position: relative;
}
.our_products_title h1 {
    display: inline-block;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    color: #383838;
}
.our_products_span {
    color: #2694ff;
}
.our_products_title h1:before {
    content:url("../img/icon/our_product_icon_left.jpg");
    position: absolute;
    top: 0px;
    left: -50px;
}
.our_products_title h1:after {
    content:url("../img/icon/our_product_icon_right.jpg");
    position: absolute;
    top: 0px;
    right: -50px;
}
.our_project {
    margin-bottom: 100px;
}
.our_project_title {
    margin-top: 75px;
    margin-bottom: 65px;
    text-align: center;
    position: relative;
}
.our_project_title h1 {
    display: inline-block;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    color: #383838;
}
.our_project_span {
    color: #2694ff;
}
.our_project_title h1:before {
    content:url("../img/icon/our_product_icon_left.jpg");
    position: absolute;
    top: 0px;
    left: -50px;
}
.our_project_title h1:after {
    content:url("../img/icon/our_product_icon_right.jpg");
    position: absolute;
    top: 0px;
    right: -50px;
}
.double_line_left {
    top: 15px;
    width: 30%;
    left:0;
    position: absolute;
    height: 5px;
    background-image: linear-gradient(to right,#ffffff,#dedede);
}
.double_line_right {
    top: 15px;
    width: 30%;
    right: 0;
    position: absolute;
    height: 5px;
    background-image: linear-gradient(to left,#ffffff,#dedede);
} 
.our_products_title h2 {
    color: #8a8a8a;
    padding-top: 15px;
    font-size: 16px;
}
.our_products_logo {
    background-image: url("../img/our_products_logo.jpg");
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.our_service {
    margin-bottom: 100px;
}
.our_service_title {
    margin-top: 75px;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
}
.our_service_title h1 {
    display: inline-block;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    color: #383838;
}
.our_service_span {
    color: #2694ff;
}
.our_service_title h1:before {
    content:url("../img/icon/our_product_icon_left.jpg");
    position: absolute;
    top: 0px;
    left: -50px;
}
.our_service_title h1:after {
    content:url("../img/icon/our_product_icon_right.jpg");
    position: absolute;
    top: 0px;
    right: -50px;
}
.our_service_title h2 {
    color: #8a8a8a;
    padding-top: 20px;
    font-size: 16px;
}
.list_service {
    position: relative;
}
.list_service_img {
    position: relative;
}
.list_service_img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.list_service_text {
    height: 128px;
    overflow: hidden;
    border: 1px solid #dedede;
    padding: 40px 15px 0px 15px;
    text-align: justify;
    font-size: 12px;
    color: #606060;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.list_service_btn {
    transition: all 0.3s;
    z-index: 2;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    text-align: center;
    width: 50%;
    background-color: #2692ff;
    padding: 15px 0px;
    border-radius: 10px;
    margin: 0 25%;
}
.list_service_btn h3{
    transition: all 0.3s;
    font-size: 13px;
    color: #dbdfe6;
    text-align: center;
    font-weight: bolder;
}
.list_service:hover {
    cursor: pointer;
}
.list_service_hover_bg {
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #88bce4;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.list_service:hover .list_service_btn {
    background-color: #383838;
}
.list_service:hover .list_service_btn h3 {
    color: #e4e4e4;
}
.list_service:hover .list_service_hover_bg {
    visibility: visible;
    opacity: 0.5;   
}
.our_client {
    background-color: #2692ff;
}
.our_client {
    margin-bottom: 0px;
}
.our_client_title {
    margin-top: 75px;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
}
.our_client_title h1 {
    display: inline-block;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    color: #000000;
}
.our_client_span {
    color: #ffffff;
}
.our_client_title h1:before {
    content:url("../img/icon/our_client_icon_left.jpg");
    position: absolute;
    top: 0px;
    left: -50px;
}
.our_client_title h1:after {
    content:url("../img/icon/our_client_icon_right.jpg");
    position: absolute;
    top: 0px;
    right: -50px;
}
.our_client_title h2 {
    color: #fffdfd;
    padding-top: 20px;
    font-size: 16px;
}
.double_line_left_client {
    top: 15px;
    width: 35%;
    left:0;
    position: absolute;
    height: 7px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.double_line_right_client {
    top: 15px;
    width: 35%;
    right:0;
    position: absolute;
    height: 7px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.contact_foot_title {
    color: #606060;
    font-size: 18px;
    padding-bottom: 30px;
    position: relative;
}
.contact_foot {
    margin-bottom: 100px;
}
.list_contact_foot {
    width: 20%;
    float: left;
}
.contact_foot_title:before {
    width: 100px;
    height: 1px;
    background-color: #ebebeb;
    top: 100%;
    content: "";
    left: 0;
    position: absolute; 
}
.contact_foot_text {
    margin-top: 30px;
    padding-right: 15px;
}
.contact_foot_text a {
    font-size: 12px;
    color: #606060;
}
.contact_foot_text a:hover {
    text-decoration: none;
    color: #2692ff;
}
.contact_foot_text i {
    margin-right: 20px;
}
.list_contact_foot {
    margin-bottom: 100px;
}
.foot_map {
    border-bottom: 2px solid #ebebeb;
}
.coppyright p {
    padding: 40px 0px;
    color: #888888;
    text-align: center;
    margin: 0;
}
.coppyright {
    background-color: #ebf4fd;
}
.wrap_img_logo {
    padding: 0px 15px;
}
.slide_our_client {
    padding: 105px 0px;
    background-color: #ebf4fd;
    margin-bottom: 85px;
}
.slide_our_client .owl-prev {
    position: absolute;
    left: -30px;
    top: 35%;
}
.slide_our_client .owl-prev:hover {
    background: #ebf4fd !important;
}
.slide_our_client .owl-next {
    position: absolute;
    right: -30px;
    top: 35%;
}
.slide_our_client .owl-next:hover {
    background: #ebf4fd !important;
}
.search {
    margin-top: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
    visibility: hidden;
    opacity: 1;
}
.search:hover {
    cursor: pointer;
}
.search input {
    
    padding: 15px 10px;
    outline: 0;
    width: 195px;
    color: #8a8a8a;
    opacity: 1; 
    font-style: italic;
    font-size: 13px;
}
::placeholder { 
    color: #8a8a8a;
    opacity: 1; 
    font-style: italic;
    font-size: 13px;
}
.close_search {
    position: absolute;
    top: 40%;
    color: #8a8a8a;
    right: 10px;
}
.close_search:hover {
    cursor: pointer;
}
.visible {
    visibility: visible !important;
    opacity: 1 !important;
}
.unvisible {
    visibility: hidden !important;
    opacity: 0 !important;
}
.btn_nav {
    display: none;
}
.btn_nav i {
    font-size: 30px;
    color: #4d4d4d;
    padding: 20px;
}
.btn_nav:hover {
    cursor: pointer;
}
#redirecter ul {
    font-family: "Raleway";
    padding-top: 40px;
    padding-bottom: 40px;
}
#redirecter ul li {
    float: left;
}

#redirecter ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #606060;
}

.slide img {
    width: 100%;
}
.wrap_product .owl-prev {
    position: absolute;
    border-radius: 10px;
    left: -50px;
    top: 35%;
}
.wrap_product .owl-prev:hover {
    background: #ebf4fd !important;
}
.wrap_product .owl-next {
    border-radius: 10px;
    position: absolute;
    right: -50px;
    top: 35%;
}
.wrap_product .owl-next:hover {
    background: #ebf4fd !important;
}
.our_products p {
    margin-top: 45px;
    text-align: center;
}
.our_project p {
    margin-top: 45px;
    text-align: center;
}
.btn_show_more {
    border-radius: 10px;
    color: #ffffff;
    background-color: #2694ff;
    transition: all 0.4s;
    padding: 12px 30px;
    font-weight: 600px;
    font-size: 22px;
}
.btn_show_more:hover {
    text-decoration: none;
}
.banner_telecom {
    background-image: url("../img/products/banner_telecom.jpg");
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_project {
    background-image: url("../img/project/banner_project.jpg");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.products_software {
    margin-bottom: 100px;
    font-family: "Raleway";
}
.list_products_software {
    position: relative;
    z-index: 0;
    margin-bottom: 12px;
}
.list_products_software img {
    width: 100%;
}


.list_products_software h3 {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 25px;
    color: #ffffff;
    text-transform: uppercase;
}
.bg_list_products_software {
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(152, 196, 239, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.list_products_software:hover {
    cursor: pointer;
}
.list_products_software:hover .bg_list_products_software{
    visibility: visible;
    opacity: 1;
}
.ul_redirecter li:last-of-type a{
    color: #2694ff !important;
}
.products_software_camera {
    margin-bottom: 100px;
}
.products_software_camera h1 {
    font-weight: bold;
    font-size: 24px;
}
.products_software_camera h2 {
    font-weight: normal;
    font-size: 18px;
}
.products_software_camera ul {
    padding-top: 20px;
}
.products_software_camera li {
    font-weight: normal;
    font-size: 18px;
    text-indent: 15px;
    position: relative;
}
.products_software_camera li:after {
    content: "-";
    position: absolute;
    top: 0;
    left: -10px;
}
.products_software_camera img {
    width: 100%;
}
.products_software_payment {
    margin-bottom: 100px;
}
.products_software_payment h1 {
    font-weight: bold;
    font-size: 24px;
}
.products_software_payment h2 {
    font-weight: normal;
    font-size: 18px;
}
.products_software_payment ul {
    padding-top: 20px;
}
.products_software_payment li {
    font-weight: normal;
    font-size: 18px;
    text-indent: 15px;
    position: relative;
}
.products_software_payment li:after {
    content: "-";
    position: absolute;
    top: 0;
    left: -10px;
}
.products_software_payment img {
    width: 100%;
    margin-bottom: 10px;
}
.double_line_left_project {
    top: 15px;
    width: 30%;
    left:0;
    position: absolute;
    height: 7px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.double_line_right_project {
    top: 15px;
    width: 30%;
    right:0;
    position: absolute;
    height: 7px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.slide_services {
    padding-bottom: 70px;
    background-color: #ebf4fd;
}
.services_title {
    text-align: center;
}
.services_title h1 {
    margin-top: 70px;
    margin-bottom: 25px;
    display: inline-block;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    position: relative;
    color: #383838;
}
.services_title h1:before {
    content:url("../img/icon/our_product_icon_left.jpg");
    position: absolute;
    top: 0px;
    left: -50px;
}
.services_title h1:after {
    content:url("../img/icon/our_product_icon_right.jpg");
    position: absolute;
    top: 0px;
    right: -50px;
}
.services_text p {
    font-size: 16px;
    color: #8a8a8a;
}
.services_image img {
    width: 100%;
}
.list_services_bg {
    background-color: #ebf4fd;
}
.wrap_services .col-lg-12, .wrap_services .col-lg-6, .wrap_services .col-md-12, .wrap_services .col-md-6, .wrap_services .col-sm-12, .wrap_services .col-sm-6, .wrap_services .col-xs-12, .wrap_services .col-xs-6 {
    padding: 0px !important;
}
.list_services_bg .col-lg-6 {
    float: right !important;
}